@model RemaSoftware.WebApp.Models.GuestViewModel.BatchInViewModel

@{
    ViewData["Title"] = "Lotti in magazzino";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Lotti in magazzino</h3>
        @*<div>
            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("NewProduct", "Product")'">Nuovo prodotto</button>
        </div>*@
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table-batches" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Lotto</th>
                    <th>Codice prodotto</th>
                    <th>DDT associate</th>
                    <th>Pezzi nel lotto</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var batch in Model.SubBatches)
                {
                    <tr style="cursor: pointer;">
                        <td>@batch.Id</td>
                        <td>@batch.Product</td>
                        <td onclick="showDDT(@batch.Id)">Visualizza DDT associate</td>
                        <td>@batch.NumberPieces</td>
                        <td class="text-center">
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <div class="col-12 h5">
                Totale pezzi in magazzino: <b>@Model.SubBatches.Sum(s => s.NumberPiecesNow)</b>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ddt_associate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="batchModalHeader"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="batch_ddt"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dymo.connect.framework.js" type="text/javascript" charset="UTF-8"> </script>
    <script>
    
    const batches = @Json.Serialize(Model.SubBatches)
    function showDDT(subbatchId) {
        var batch = batches.filter(obj => {
          return obj.id === subbatchId
        })
        var ddt_list = ""
        batch[0].ddt_In.forEach(function(ddt) {
            ddt_list = ddt_list +"<strong>Codice: </strong>"+ ddt.code + " - <strong>Arrivo: </strong>" + ddt.date + "<strong> - Pezzi: </strong>" + ddt.nowPieces + "<br/>"
        })
        $("#ddt_associate").modal('show');
        document.getElementById("batch_ddt").innerHTML = ddt_list
        document.getElementById("batchModalHeader").textContent = "DDT associate al lotto #" + subbatchId;
    }

    $(document).ready( function () {
        table = $('#table-batches').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }                
            },
            "product": [[0, 'asc']],
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": false, "orderable": false, "targets": 2 },
                { "searchable": false, "orderable": false, "targets": 3 },
                { "searchable": false, "orderable": false, "targets": 4 },
              ]
        });

        
        
    });
    </script>
}