@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RemaSoftware.Domain.Constants
@model RemaSoftware.WebApp.Models.GuestViewModel.BatchInViewModel

@{
    ViewData["Title"] = "Lotti in magazzino";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Lotti in produzione</h3>
        @*<div>
            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("NewProduct", "Product")'">Nuovo prodotto</button>
        </div>*@
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table-batches" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Lotto</th>
                    <th>Codice prodotto</th>
                    <th>DDT associate</th>
                    <th>Pezzi nel lotto</th>
                    <th>Pezzi rimanenti da lavorare</th>
                    <th class="text-center">Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var batch in Model.SubBatches)
                {
                    <tr style="cursor: pointer;">
                        <td>@batch.SubBatchID</td>
                        <td>@batch.Ddts_In[0].Product.SKU</td>
                        <td onclick="showDDT(@batch.SubBatchID)">Visualizza DDT associate</td>
                        <td>@batch.Ddts_In.Sum(s=> s.Number_Piece)</td>
                        <td>@batch.Ddts_In.Sum(s=> s.Number_Piece_Now + s.Number_Piece_ToSupplier)</td>
                        <td class="text-center">
                            <a style="text-decoration: none" asp-controller="Guest" asp-action="SubBatchMonitoring" asp-route-id="@batch.SubBatchID">
                                <i class="fas fa-eye fa-lg pl-2" title="Visualizza avanzamento" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <div class="col-12 h5">
                @{
                    var tot = 0;
                    foreach (var item in @Model.SubBatches)
                    {
                        tot += item.Ddts_In.Sum(s => s.Number_Piece_Now);
                    }
                }
                Totale pezzi in produzione: <b>@tot</b>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ddt_associate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="batchModalHeader"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="batch_ddt"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    
    <script>
    const batches = @Json.Serialize(Model.SubBatches)
    function showDDT(subbatchId) {
        var batch = batches.filter(obj => {
          return obj.subBatchID === subbatchId
        })
        var ddt_list = ""
        batch[0].ddts_In.forEach(function(ddt) {
            var date = new Date(ddt.dataOut)
            ddt_list = ddt_list +"<strong>Codice: </strong>"+ ddt.code + " - <strong>Arrivo: </strong>" + date.getDate() +"/" + (parseInt(date.getMonth()) + 1) + "/" + date.getFullYear() + "<strong> - Pezzi: </strong>" + ddt.number_Piece_Now + "<br/>"
        })
        $("#ddt_associate").modal('show');
        document.getElementById("batch_ddt").innerHTML = ddt_list
        document.getElementById("batchModalHeader").textContent = "DDT associate al lotto #" + subbatchId;
    }
    
    $(document).ready( function () {
        table = $('#table-batches').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }                
            },
            "product": [[0, 'asc']],
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": false, "orderable": false, "targets": 2 },
                { "searchable": false, "orderable": false, "targets": 3 },
                { "searchable": false, "orderable": false, "targets": 4 },
                { "searchable": false, "orderable": false, "targets": 5 },
              ]
        });
    });

    </script>
}