@model RemaSoftware.WebApp.Models.GuestViewModel.OrdersEndedViewModel

@{
    ViewData["Title"] = "Ordini conclusi";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Resoconto DDT concluse</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-ddt" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>N° Lotto</th>
                        <th>DDT</th>
                        <th>SKU</th>
                        <th>N° pezzi</th>
                        <th>Arrivo ordine</th>
                        <th>Conclusione ordine</th>
                        <th class="text-center">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var ddt in Model.Ddt_In)
                {
                    <tr>
                        <td>@ddt.SubBatchID</td>
                        <td>@ddt.Code</td>
                        <td>@ddt.Product.SKU</td>
                        <td>@ddt.Number_Piece</td>
                        <td>@ddt.DataIn.ToString("dd/MM/yy HH:mm")</td>
                        @if (ddt.DataEnd.HasValue)
                        {
                            <td>@ddt.DataEnd.Value.ToString("dd/MM/yy HH:mm")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td class="text-center">
                            <a style="text-decoration: none" asp-controller="Guest" asp-action="SubBatchMonitoring" asp-route-id="@ddt.SubBatchID">
                                <i class="fas fa-eye fa-lg pl-2" title="Visualizza avanzamento" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js" integrity="sha512-9p/L4acAjbjIaaGXmZf0Q2bV42HetlCLbv8EP0z3rLbQED2TAFUlDvAezy7kumYqg5T8jHtDdlm1fgIsr5QzKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
    $(document).ready( function () {
        table = $('#table-ddt').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }                
            },
            "order": [[0, 'asc']],
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": false, "orderable": true, "targets": 2 },
                { "searchable": false, "orderable": true, "targets": 3, "type": "date-eu" },
                { "searchable": false, "orderable": true, "targets": 4, "type": "date-eu" },
                { "searchable": false, "orderable": false, "targets": 5 },
              ]
        });
    });

    function formatDate(timestamp){
        var x=new Date(timestamp);
        var dd = x.getDate();
        var mm = x.getMonth()+1;
        var yy = x.getFullYear();
        return dd +"/" + mm+"/" + yy;
     }    
    </script>
}