@using RemaSoftware.Domain.Models
@model RemaSoftware.WebApp.Models.ClientViewModel.ClientViewModel

@{
    ViewData["Title"] = "Modifica Cliente";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Modifica Cliente</h4>
    </div>
    <div class="card-body">
        <form method="post" class="needs-validation" asp-controller="Client" asp-action="EditClient" novalidate>
            @Html.HiddenFor(model=>model.ClientId)
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="font-weight-bold" for="validationTooltip01">Nome Azienda *</label>
                    <input asp-for="Name" type="text" class="form-control" id="validationTooltip01" placeholder="Nome Azienda" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="font-weight-bold" for="validationTooltip02">Partita Iva</label>
                    <input asp-for="P_Iva" type="text" class="form-control" id="validationTooltip02" placeholder="P. IVA">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="font-weight-bold" for="validationTooltip02">Via</label>
                    <input asp-for="Street" type="text" class="form-control" id="validationTooltip02" placeholder="Via">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="font-weight-bold" for="validationTooltip02">N° Civico</label>
                    <input asp-for="StreetNumber" type="text" class="form-control" id="validationTooltip02" placeholder="Numero Civico">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="font-weight-bold" for="validationTooltip04">CAP</label>
                    <input asp-for="Cap" type="text" class="form-control" id="validationTooltip04" placeholder="CAP">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="font-weight-bold" for="validationTooltip03">Città</label>
                    <input asp-for="City" type="text" class="form-control" id="validationTooltip03" placeholder="Città">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-bold" for="validationTooltip03">Provincia</label>
                    <input asp-for="Province" type="text" class="form-control" id="validationTooltip03" placeholder="Provincia">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-bold" for="validationTooltip05">Stato</label>
                    <input asp-for="Nation" type="text" class="form-control" id="validationTooltip05" placeholder="Stato">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="font-weight-bold" for="validationTooltip03">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="validationTooltip03" placeholder="Email">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-bold" for="validationTooltip03">Telefono</label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" id="validationTooltip03" placeholder="Numero di telefono">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="font-weight-bold" for="validationTooltip05">Fax</label>
                    <input asp-for="Fax" type="text" class="form-control" id="validationTooltip05" placeholder="Fax">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Modifica</button>
        </form>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Utenti associati al Ciente</h4>
        <div>
            <button class="btn btn-primary" type="button" onclick="GetAddOrUpdateClientUserModal(@Model.ClientId)">Aggiungi Utente</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-clientusers" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var client in Model.ClientUsers)
                {
                    <tr id="clientuser-row-@client.Id">
                        <td>@client.Name</td>
                        <td>@client.Surname</td>
                        <td>@client.Email</td>
                        <td class="text-center">
                            <i class="fas fa-trash fa-lg pl-2" style="cursor: pointer; color: lightgray"  title="Elimina" data-toggle="modal" data-target="#confirm-del-modal" onclick="SetClientUserId('#confirm-del-modal', '@client.Id')"></i>
                            <i class="fas fa-pen fa-lg pl-2" title="Modifica" onclick="GetAddOrUpdateClientUserModal(@Model.ClientId, '@client.Id')" style="cursor: pointer; color: lightgray"></i>
                             
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conferma eliminazione</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sei sicuro di voler eliminare questo utente?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-primary" onclick="DeleteClientUser()">Elimina</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        table = $('#table-clientusers').DataTable({
            "language": {
                "zeroRecords": "Nessun utente associato a questo cliente"
            },
            "searching": false,
            "bLengthChange": false,
            "info": false,
            "paging": false,
            "ordering": false
        });
        
        function GetAddOrUpdateClientUserModal(clientId, clientuserId) {
            $('#add-clientuser').remove()
            var url = `@Url.Action("GetAddOrUpdateClientUserModal", "Client")?clientId=${clientId}`
            if (clientuserId)
                url+= `&clientuserId=${clientuserId}`
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $(document.body).append(data);
                    $('#add-clientuser').modal('show');
                }
            });
        }
        
        function SetClientUserId(elementName, clientuserId){
            $(elementName).data("clientuserId", clientuserId );
        }
        
        function DeleteClientUser(){
            var clientuserId = $("#confirm-del-modal").data("clientuserId");
            $.ajax({
                url: '@Url.Action("DeleteClientUser", "Client")?' + $.param({"clientuserId": clientuserId}),
                type: 'DELETE',
                success: function (data) {
                    if (data.result == true){
                        table.row($("tr#clientuser-row-" + clientuserId)).remove().draw();
                        $("#confirm-del-modal").modal('toggle');
                        toastNotifySuccess(data.toastMessage);
                    }else{
                        toastNotifyError(data.toastMessage);
                    }
                },
                error: function (data){
                    toastNotifyError(data.toastMessage);
                }
            });
        }
        
    </script>
}
