@using System.Globalization
@using RemaSoftware.Domain.Constants
@model RemaSoftware.WebApp.Models.AccountingViewModel.AccountingViewModel


<!DOCTYPE html>

<head>
    @{
        ViewData["Title"] = "Contabilità";
    }
</head>
<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css" />

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Contabilità</h1>
</div>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Resoconto contabilità attuale</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 h5">
                Totale pezzi in azienda: <b>@Model.OrdersInFactoryGroupByClient.Sum(s => s.NumberPiecesInStock)</b>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-12 h5">
                Totale fatturato in azienda: <b>@Model.OrdersInFactoryGroupByClient.Sum(s => s.TotPriceInStock).ToString("0.00")&#8364;</b>
            </div>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered" id="table-orders" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>N&deg; Pezzi Attuale</th>
                        <th>Fatturato Attuale</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.OrdersInFactoryGroupByClient)
                    {
                        <tr>
                            <td>@order.Client</td>
                            <td>@order.NumberPiecesInStock</td>
                            <td>@order.TotPriceInStock.ToString("0.00")&#8364;</td>
                            <td class="text-center">
                            <a style="text-decoration: none" asp-action="AccountingClient" asp-controller="Accounting" asp-route-Id="@order.ClientID">
                                <i class="fas fa-eye fa-lg pl-2" title="Contabilità cliente" style="cursor: pointer; color:  #6d767e;"></i>
                            </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="card shadow mb-4" id="order-summ-content">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Resoconto prodotti in azienda</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-orders" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>DDT</th>
                        <th>SKU</th>
                        <th>Cliente</th>
                        <th>Data Entrata</th>
                        <th>Data Scadenza</th>
                        <th>N&deg; Pezzi Iniziale</th>
                        <th>N&deg; Pezzi in azienda</th>
                        <th>N&deg; Pezzi da fornitori</th>
                        <th>Prezzo Unitario</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.OrdersNotCompleted)
                    {
                        <tr>
                            <td>@order.Code</td>
                            <td>@order.Product.SKU</td>
                            <td>@order.Product.Client.Name</td>
                            <td>@order.DataIn.ToString("d", new CultureInfo("it-IT"))</td>
                            <td>@order.DataOut.ToString("d", new CultureInfo("it-IT"))</td>
                            <td>@order.Number_Piece</td>
                            <td>@order.Number_Piece_Now</td>
                            <td>@order.Number_Piece_ToSupplier</td>
                            <td>@order.Price_Uni.ToString("0.00")&#8364;</td>
                            <td class="text-center">
                                @{
                                    if (!string.IsNullOrEmpty(order.Status))
                                    {
                                        var statusDto = OrderStatusConstants.OrderStatuses[@order.Status];
                                        <i class="fas fa-circle fa-lg" style="color: @statusDto?.StatusCssClass" title="@statusDto?.StatusDescription"></i>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="button" class="btn btn-primary" value="Stampa resoconto" onclick="PrintPDF()">
@section Scripts
{
    <script>
        function PrintPDF() {
            var aElement = document.createElement("a");
            aElement.setAttribute("type", "hidden");
            aElement.href = '@Url.Action("DownloadPdfAccounting", "Accounting")';
            aElement.target = "_blank";
            document.getElementsByTagName("body")
            aElement.click();
    }
    </script>
}

