@model RemaSoftware.Models.ClientViewModel.NewOrderViewModel

@{
    ViewData["Title"] = "Nuovo Ordine";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Aggiungi Ordine</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nuovo ordine</h6>
    </div>
    <div class="card-body">
        <form method="post">
            @Html.HiddenFor(model => model.Photo, new { @id = "Photo_base64" })
            @*@Html.HiddenFor(model => model.Order.Image_URL, new { @id = "image_url" })*@
            @* @Html.HiddenFor(model => model.Order.SKU, new { @id = "myInput" }) *@
            <div class="form-group">
                <label for="formGroupExampleInput">Codice</label>
                <select asp-for="Order.SKU" id="order_sku" class="select2 form-control">
                    @foreach (var sku in Model.OldOrders_SKU)
                    {
                        <option>@sku</option>
                    }
                </select>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-top:50px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">Vista Telecamera</div>
                        <div class="panel-body">
                            <div id="LiveCamera" style="margin-bottom:50px;"></div>
                            <input id="Photo_base64" asp-for="Photo" type="button" class="btn btn-primary" value="Fotografa Prodotto" onClick="CaptureSnapshot()">

                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-top:50px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">Immagine Fotografata</div>
                        <div class="panel-body">
                            <div id="results">L'immagine apparirà qui.</div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Seleziona Cliente</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="Order.ClientID">
                    @foreach (var clients in Model.Clients)
                    {
                        <option value="@clients.ClientID">@clients.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput">Nome</label>
                <input asp-for="Order.Name" type="text" class="form-control" id="order_name" placeholder="Nome">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput">Numero di pezzi</label>
                <input asp-for="Order.Number_Piece" type="number" class="form-control" id="formGroupExampleInput" placeholder="Numero di pezzi">
            </div>
            <div class="form-group">
                <label for="validationTooltip04">Prezzo Unitario (IVA Inclusa) *</label>
                <div class="input-group-append">
                    <input asp-for="Order.Price_Uni" type="text" pattern="^[\d,]+$" class="form-control" id="validationTooltip04" placeholder="Prezzo Unitario ">
                    <span class="input-group-text">€</span>
                </div>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Seleziona data di consegna</label>
                <div class='input-group date'>
                    <input placeholder="Seleziona data di consegna" type='text' class="form-control bg-white" id='datetimepicker1' asp-for="Order.DataOut" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descrizione</label>
                <textarea asp-for="Order.Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>


            @for (var i = 0; i < Model.Operation.Count; i++)
            {
                <div class="form-check">
                    <input type="hidden" asp-for="Operation[i].Operation.OperationID">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault-@(i)" asp-for="Operation[i].Flag">
                    <label class="form-check-label" for="flexCheckDefault-@(i)">
                        @Model.Operation[i].Operation.Name
                    </label>
                </div>

            }
            <div style="width:100px; margin-top:50px;">
                <button class="btn btn-primary" type="submit">Aggiungi</button>
            </div>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" style="background-color: rgba(255,255,255,0.7);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acquisizione Immagine</h5>
                <button type="button" class="close" onclick="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>L'immagine è stata acquisita correttamente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModal()">Chiudi</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/webcamjs/webcam.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js" integrity="sha512-9p/L4acAjbjIaaGXmZf0Q2bV42HetlCLbv8EP0z3rLbQED2TAFUlDvAezy7kumYqg5T8jHtDdlm1fgIsr5QzKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script language="JavaScript">

            $(".select2").select2({
              tags: true
            });
                $('.select2').on('select2:select', function (e) {
                    GetOrderBySKU()
            });


            function GetOrderBySKU() {

                var select = document.getElementById('order_sku');
                var option = select.options[select.selectedIndex];

                $.ajax({
                    url: '@Url.Action("GetOrderBySKU", "Order")?' + $.param({ "orderSKU": option.text }),
                    type: 'DELETE',
                    success: function (data) {

                        document.getElementById('results').innerHTML = '<img src="' + data.path + '" width="500" height="282" />';
                        document.getElementById("Photo_base64").value = data.path;
                        $("#order_name").val(data.name);
                        document.getElementById("inlineFormCustomSelectPref").selectedIndex = data.client_id;
                        toastNotifySuccess("Ordine recuperato correttamente.");
                    },
                    error: function (data) {
                        document.getElementById('results').innerHTML = '<img src="" width="500" height="282" />';
                        document.getElementById("Photo_base64").value = "";
                        $("#order_name").val("");
                        document.getElementById("inlineFormCustomSelectPref").selectedIndex = data.client_id;
                        toastNotifyError("Errore nel recupero dell\\'ordine.");
                    }
                });
            }

            function openModal() {
                document.querySelector(".modal").style.display = "block"
            }
            function closeModal() {
                document.querySelector(".modal").style.display = "none"
            }

            Webcam.set({
                width: 500,
                height: 282,
                image_format: 'png',
                jpeg_quality: 100
            });
            Webcam.attach('#LiveCamera');

            function CaptureSnapshot() {
                Webcam.snap(function (data) {
                    // display results in page
                    document.getElementById('results').innerHTML = '<img src="' + data + '" width="500" height="282" />';
                    document.getElementById("Photo_base64").value = data;
                    // Send image data to the controller to store locally or in database
                    Webcam.upload(data,
                        '/WebCam/CaptureImage',
                        function (code, text) {
                            //alert('Snapshot/Image captured successfully...');
                            openModal();
                        });
                });
            }

            $("#datetimepicker1").flatpickr({
                dateFormat: "d/m/Y",
                minDate: "today",
                locale: {
                    weekdays: {
                        shorthand: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'],
                        longhand: ['Domenica', 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato'],
                    },
                        months: {
                            shorthand: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Оtt', 'Nov', 'Dic'],
                            longhand: ['Gennaio', 'Febbraio', 'Мarzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
                        }
                }

            });
    </script>
}




