@model RemaSoftware.Models.ClientViewModel.OrderSummaryViewModel

@{
    ViewData["Title"] = "Resoconto";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Resoconto</h1>
</div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Resoconto ordini</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table-orders" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cliente</th>
                            <th>Data Entrata</th>
                            <th>Data Scadenza</th>
                            <th>SKU</th>
                            <th>Descrizione</th>
                            <th># Pezzi</th>
                            <th>Prz. Unitario</th>
                            <th>Prz. Totale</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.Name</td>
                            <td>@order.Client.Name</td>
                            <td>@order.DataIn</td>
                            <td>@order.DataOut.ToString("d")</td>
                            <td>@order.SKU</td>
                            <td>@order.Description</td>
                            <td>@order.Number_Piece</td>
                            <td>&euro; @order.Price_Uni.ToString("0.00")</td>
                            <td>&euro; @order.Price_Tot.ToString("0.00")</td>
                            <td class="text-center"><a target="_blank" href='@Url.Action("DownloadPdfOrder","Order", new {orderId = order.OrderID})'><i class="fas fa-file-download" title="Scarica ordine in PDF" style="cursor: pointer; color: #4e73df"></i></a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
    $(document).ready( function () {
        $('#table-orders').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }
            },
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": false, "orderable": true, "targets": 2 },
                { "searchable": false, "orderable": true, "targets": 3 },
                { "searchable": true, "orderable": true, "targets": 4 },
                { "searchable": true, "orderable": false, "targets": 5 },
                { "searchable": false, "orderable": false, "targets": 6 },
                { "searchable": false, "orderable": false, "targets": 7 },
                { "searchable": false, "orderable": false, "targets": 8 },
                { "searchable": false, "orderable": false, "targets": 9 }
              ]
        });
    } );
    
    function DownloadPdf(orderId) {
        $.ajax({
            url: "@Url.Action("DownloadPdfOrder","Order")?orderId=" + orderId,
            type: "GET",
            success: function (result) {
                
            }
        });
    }
    </script>>
}