@using System.Globalization
@using RemaSoftware.Constants
@using RemaSoftware.Controllers
@using RemaSoftware.Models.OrderViewModel
@model RemaSoftware.Models.OrderViewModel.OrderSummaryViewModel

@{
    ViewData["Title"] = "Resoconto";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Resoconto</h1>
</div>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Resoconto ordini</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-orders" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>DDT</th>
                        <th>SKU</th>
                        <th>Nome</th>
                        <th>Cliente</th>
                        <th>Data Entrata</th>
                        <th>Data Scadenza</th>
                        <th>N° Pezzi</th>
                        <th>Prz. Unitario</th>
                        <th>Status</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.DDT</td>
                        <td>@order.SKU</td>
                        <td>@order.Name</td>
                        <td>@order.Client.Name</td>
                        <td>@order.DataIn.ToString("d", new CultureInfo("it-IT"))</td>
                        <td>@order.DataOut.ToString("d", new CultureInfo("it-IT"))</td>
                        <td>@order.Number_Piece</td>
                        <td>&euro; @order.Price_Uni.ToString("0.00")</td>
                        <td class="text-center">
                            @{
                                if (!string.IsNullOrEmpty(order.Status))
                                {
                                    var statusDto = OrderStatusConstants.OrderStatuses[@order.Status];
                                    <i class="fas fa-circle fa-lg" style="color: @statusDto?.StatusCssClass" title="@statusDto?.StatusDescription"></i>
                                }
                            }
                        </td>
                        <td class="text-center">
                            <i class="fas fa-users-cog fa-lg" style="color: #858796; cursor: pointer" onclick="GetOperationsAndOpenModal(@order.OrderID)" title="Visualizza / Modifica operazioni"></i>
                            <a style="text-decoration: none" target="_blank" href='@Url.Action("DownloadPdfOrder", "Order", new {orderId = order.OrderID})'>
                                <i class="fas fa-file-download fa-lg pl-2" title="Scarica ordine in PDF" style="cursor: pointer; color: #4e73df"></i>
                            </a>
                            <i class="fas fa-copy fa-lg pl-2" style="color: red; cursor: pointer" onclick="setOrderId(@order.OrderID)" data-toggle="modal" data-target="#copy-ord-modal" title="Duplica Ordine"></i>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("../Order/_CopyOrderModal", new CopyOrderViewModel());}

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
    $(document).ready( function () {
        $('#table-orders').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }
            },
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": true, "orderable": true, "targets": 2 },
                { "searchable": true, "orderable": true, "targets": 3 },
                { "searchable": false, "orderable": true, "targets": 4 },
                { "searchable": false, "orderable": true, "targets": 5 },
                { "searchable": false, "orderable": false, "targets": 6 },
                { "searchable": false, "orderable": false, "targets": 7 },
                { "searchable": false, "orderable": false, "targets": 8 },
                { "searchable": false, "orderable": false, "targets": 9 }
              ]
        });
    });

    function setOrderId(OrderIdToDuplicate) {
        $("#id_ordine").val(OrderIdToDuplicate)
    }

    function SaveEditOpertions() {
        ShowLoader();
        var model = $("#form-edit-ops").serialize();
        $.post('@Url.Action("EditOrderOperations", "Order")', JSON.stringify(model), function (data){
            if (data.result == true){
                $("#edit-ops-modal").modal('toggle');
                toastNotifySuccess(data.toastMessage);
            } else {
                toastNotifyError(data.toastMessage);
            }
            HideLoader();
        });
        }

    function SaveNewOrder() {
        ShowLoader();
        var model = $("#form-copy-ord").serialize();
        $.post('@Url.Action("SaveDuplicateOrder", "Order")', model, function (data){
            if (data.result == true){
                $("#copy-ord-modal").modal('toggle');
                toastNotifySuccess(data.toastMessage);
                var aElement = document.createElement("a");
                aElement.setAttribute("type", "hidden");
                aElement.href = '@Url.Action("DownloadPdfOrder", "Order")' + "?orderId=" + data.orderId;
                aElement.target = "_blank";
                document.getElementsByTagName("body")
                aElement.click();
                
                window.location.href='@Model.RedirectUrlAfterCreation';
            } else {
                toastNotifyError(data.toastMessage);
            }
            HideLoader();
        }).complete(function () {
            HideLoader();
        });
    }

    function DownloadPdf(orderId) {
        $.ajax({
            url: "@Url.Action("DownloadPdfOrder", "Order")?orderId=" + orderId,
            type: "GET",
            success: function (result) {
            }
        });
    }

    function GetOperationsAndOpenModal(orderId) {
        $.ajax({
            url: "@Url.Action("GetEditOrderOperationsModal", "Order")?orderId=" + orderId,
            type: "GET",
            success: function (result) {
                if (result != null) {
                    $("#order-summ-content").after(result);
                    $("#edit-ops-modal").modal('toggle');
                }
            }
        });
        }

    </script>>
}