@model RemaSoftware.ContextModels.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
            <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                  rel="stylesheet">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
            
            <link rel="stylesheet" href="~/css/site.css"/>
            <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid pt-3">
            <div class="row pb-5">
                <div class="col-6" style="font-size: large">
                    <b>Dati cliente:</b><br>
                    @Model.Client.Name,<br>
                    @Model.Client.Street, @Model.Client.StreetNumber<br>
                    @Model.Client.Cap, @Model.Client.City, @Model.Client.State
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-12">
                    <img src="C:\\Users\zaron\Pictures\Zeta.jpg" style='width: 20%; height: auto'/><br><br><br>
                    <b>Sku: </b>@Model.SKU<br>
                    <b>Descrizione: </b>@Model.Description <br>
                    <b>Numero pezzi: </b>@Model.Number_Piece<br>
                    <b>Prezzo unitario: </b>&euro; @Model.Price_Uni.ToString("0.00")<br>
                    <b>Prezzo totale: </b>&euro; @Model.Price_Tot.ToString("0.00")<br>
                    <b>Operazioni sull'ordine: </b>
                    @{
                        var last = Model.Order_Operation.Last();
                    }
                    @foreach (var operation in Model.Order_Operation)
                    {
                        <i>@operation.Operations.Name</i>if(operation != last){<text>,</text>}
                    }
                </div>
            </div>
        </div>
    </body>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <script src="~/js/sb-admin-2.min.js"></script>
    </html>