@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RemaSoftware.WebApp.Models.ProductViewModel.ProductListViewModel

@{
    ViewData["Title"] = "Lista Prodotti";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Lista prodotti</h3>
        <div>
            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("NewProduct", "Product")'">Nuovo prodotto</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-products" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Nome</th>
                        <th>Cliente</th>
                        <th>Pezzi in azienda</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr id="product-@product.ProductID">
                        <td>@product.SKU</td>
                        <td>@product.Name</td>
                        <td>@product.Client.Name</td>
                        <td>@product.Ddts_In.Sum(s=> s.Number_Piece_Now)</td>
                        <td class="text-center">
                            <a style="text-decoration: none" asp-action="NewOrder" asp-controller="Order" asp-route-productId="@product.ProductID">
                                <i class="fas fa-file-text fa-lg pl-2" title="Registra commessa" style="cursor: pointer; color:  #6d767e;"></i>
                            </a>
                            <a style="text-decoration: none" asp-action="UpdateProduct" asp-controller="Product" asp-route-productId="@product.ProductID">
                                <i class="fas fa-pen fa-lg pl-2" title="Modifica prodotto" style="cursor: pointer; color:  #6d767e;"></i>
                            </a>
                            <a style="text-decoration: none" asp-action="ViewProduct" asp-controller="Product" asp-route-id="@product.ProductID">
                                <i class="fas fa-eye fa-lg pl-2" title="Visualizza prodotto" style="cursor: pointer; color:  #6d767e;"></i>
                            </a>
                            <i class="fas fa-trash fa-lg pl-2 del-product" style="cursor: pointer; color: #6d767e;" id="@product.ProductID" title="Elimina" data-toggle="modal" data-target="#confirm-del-modal" onclick="SetDataProductId('#confirm-del-modal', @product.ProductID)">
                                
                            </i>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conferma eliminazione</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sei sicuro di voler eliminare questo prodotto?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-danger" onclick="DeleteProduct()">Elimina</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        
        function SetDataProductId(elementName, productId){
            $(elementName).data("productId", productId );
        }
    
        $(document).ready( function () {
            table = $('#table-products').DataTable({
                "language": {
                    "lengthMenu": "Mostra _MENU_ risultati per pagina",
                    "zeroRecords": "Nessun risultato trovato",
                    "info": "Pagina _PAGE_ di _PAGES_",
                    "infoEmpty": "Nessun risultato disponibile",
                    "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                    "search": "Ricerca:",
                    "paginate": {
                        "first": "Inizio",
                        "previous": "Precedente",
                        "next": "Successivo",
                        "last": "Fine"
                    }                
                },
                "product": [[0, 'asc']],
                "columnDefs": [
                    { "searchable": true, "orderable": true, "targets": 0 },
                    { "searchable": true, "orderable": true, "targets": 1 },
                    { "searchable": true, "orderable": true, "targets": 2 },
                    { "searchable": false, "orderable": true, "targets": 3 },
                    { "searchable": false, "orderable": false, "targets": 4 },
                  ]
            });
     
        });
        
        function DeleteProduct(){
            var productId = $("#confirm-del-modal").data("productId");
            $.ajax({
                url: '@Url.Action("DeleteProduct", "Product")?' + $.param({"ProductId": productId}),
                type: 'GET',
                success: function (data) {
                    if (data.result == true){
                        table.row($("tr#product-" + productId)).remove().draw();
                        $("#confirm-del-modal").modal('toggle');
                    }else{
                        $("#confirm-del-modal").modal('toggle');
                    }
                },
                error: function (data){
                    toastNotifyError("Errore durante l'eliminazione del prodotto.");
                }
            });
        }
            
        $(document).on("click", ".del-product", function () {
                 var productId = $(this).attr('id');
                 $(".modal-body #modal-addrem-productId").val( parseInt(productId) );
            });
    </script>
}