@model RemaSoftware.WebApp.Models.PriceViewModel.PriceListViewModel

    @{
        ViewData["Title"] = "Lista Prezzi";
    }

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Lista prezzi</h4>
        <div>
            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("NewPrice", "Price")'">Aggiungi</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-operations" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sku Prodotto</th>
                        <th>Nome Prodotto</th>
                        <th>Cliente</th>
                        <th>Operazioni associate</th>
                        <th>Prezzo</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var price in Model.Prices)
                {
                    <tr id="price-@price.PriceID">
                        <td>@price.Description</td>
                        <td>@price.Product.SKU</td>
                        <td>@price.Product.Name</td>
                        <td>@price.Product.Client.Name</td>
                        <td>
                            @foreach (var operation in price.PriceOperation)
                            {
                                <span>@operation.Operation.Name</span><br/>
                            }
                        </td>
                        <td>€ @price.PriceVal</td>
                        <td class="text-center">
                            <a style="text-decoration: none" asp-action="UpdatePrice" asp-controller="Price" asp-route-priceId="@price.PriceID">
                                <i class="fas fa-pen fa-lg pl-2" title="Modifica prezzo" style="cursor: pointer; color:  #6d767e;"></i>
                            </a>
                            <a style="text-decoration: none" asp-action="ViewPrice" asp-controller="Price" asp-route-id="@price.PriceID">
                                <i class="fas fa-eye fa-lg pl-2" title="Visualizza prezzo" style="cursor: pointer; color:  #6d767e;"></i>
                            </a>
                            <i class="fas fa-trash fa-lg pl-2 del-price" style="cursor: pointer; color: #6d767e;" id="@price.PriceID" title="Elimina" data-toggle="modal" data-target="#confirm-del-modal" onclick="SetDataPriceId('#confirm-del-modal', @price.PriceID)"></i>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conferma eliminazione</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sei sicuro di voler eliminare questo prezzo?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-danger" onclick="DeletePrice()">Elimina</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
    
        function SetDataPriceId(elementName, priceId){
            $(elementName).data("priceId", priceId );
        }
            
        $(document).ready( function () {
        table = $('#table-operations').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }                
            },
            "order": [[0, 'desc']],
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": true, "orderable": true, "targets": 2 },
                { "searchable": true, "orderable": true, "targets": 3 },
                { "searchable": true, "orderable": true, "targets": 4 },
                { "searchable": false, "orderable": true, "targets": 5 },
                { "searchable": false, "orderable": false, "targets": 6 },
              ]
        });
    });
        
        function DeletePrice(){
            var priceId = $("#confirm-del-modal").data("priceId");
            $.ajax({
                url: '@Url.Action("DeletePrice", "Price")?' + $.param({"PriceId": priceId}),
                type: 'GET',
                success: function (data) {
                    $("#confirm-del-modal").modal('toggle');
                    location.reload();
                },
                error: function (data){
                    toastNotifyError("Errore durante l'eliminazione del prezzo.");
                }
            });
        }
            
        $(document).on("click", ".del-price", function () {
                 var priceId = $(this).attr('id');
                 $(".modal-body #modal-addrem-priceId").val( parseInt(priceId) );
            });
    </script>
}