@model RemaSoftware.WebApp.Models.PriceViewModel.PriceViewModel

@{
    ViewData["Title"] = "Prezzo";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<h4 class="m-0 font-weight-bold text-primary mb-3">Informazioni prezzo</h4>
<div class="row mb-3" style="height: 150px;">
    <div class="col-xl-4 col-md-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Descrizione</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Price.Description</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-info fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Prezzo</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Price.PriceVal</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-eur fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Data ultima modifica</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.Price.CreationDate</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Note</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.Price.Note</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Codice BC</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Price.CodeBC</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-1" style="height: 120px;">
    <div class="col-xl-12 col-md-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Prodotto</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800 mt-2"><b>SKU:</b> @Model.Price.Product.SKU</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800 mt-2"><b>Nome:</b> @Model.Price.Product.Name</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800 mt-2"><b>Cliente:</b> @Model.Price.Product.Client.Name</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-barcode fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-xl-12 col-md-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Operazioni
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @foreach (var operation in @Model.Price.PriceOperation)
                            {
                                <span>@operation.Operation.Name</span><br/>
                            }
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-barcode fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #wrapper #content-wrapper {
        overflow-x: visible !important;
    }
</style>