@model RemaSoftware.Models.StockViewModel.StockListViewModel

@{
    ViewData["Title"] = "Giacenze";
}
<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Giacenze</h1>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Giacenze di magazzino</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-stock" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>N° Pezzi</th>
                    <th>Taglia</th>
                    <th>Prezzo Unitario</th>
                    <th>Prezzo Totale</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var article in Model.WarehouseStocks)
                {
                    <tr id="article-@article.StockArticleId" form="form-@article.StockArticleId">
                        <td class="name-@article.StockArticleId">@article.Name</td>
                        <td class="brand-@article.StockArticleId">@article.Brand</td>
                        <td class="npieces-@article.StockArticleId">@article.Number_Piece</td>
                        <td class="size-@article.StockArticleId">@article.Size</td>
                        <td class="priceuni-@article.StockArticleId">@article.Price_Uni.ToString("0.00")€</td>
                        <td class="pricetot-@article.StockArticleId">@article.Price_Tot.ToString("0.00")€</td>
                        <td class="text-center editicon-@article.StockArticleId">
                            @* <i class="fas fa-edit fa-lg" style="cursor: pointer; color: #4e73df" title="Modifica" onclick="ShowTextBoxesForEdit(@article.Warehouse_StockID)"></i> *@
                            <i class="fas fa-sort fa-lg add-rem-qty" style="cursor: pointer; color: #4e73df" title="Aggingi/Sottrai pezzi" data-toggle="modal" data-target="#add-remove-qty-modal" onclick="SetDataArticleId('#add-remove-qty-modal', @article.StockArticleId)"></i>
                            <i class="fas fa-trash fa-lg pl-2 del-stock-article" style="cursor: pointer; color: #e74a3b" id="@article.StockArticleId" title="Elimina" data-toggle="modal" data-target="#confirm-del-modal" onclick="SetDataArticleId('#confirm-del-modal', @article.StockArticleId)"></i>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conferma eliminazione</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sei sicuro di voler eliminare questo articolo di magazzino?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-primary" onclick="DeleteStockArticle()">Elimina</button>
            </div>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("../Stock/_AddOrRemoveQuantityModal");   
}

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
    var table;
    $(document).ready( function () {
        table = $('#table-stock').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }
            },
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": false, "orderable": false, "targets": 2 },
                { "searchable": false, "orderable": false, "targets": 3 },
                { "searchable": false, "orderable": false, "targets": 4 },
                { "searchable": false, "orderable": false, "targets": 5 },
                { "searchable": false, "orderable": false, "targets": 6 }
              ]
        });
    } );
    
    $(document).on("click", ".del-stock-article", function () {
         var articleId = $(this).attr('id');
         $(".modal-body #modal-addrem-articleId").val( parseInt(articleId) );
    });
    
    function SetDataArticleId(elementName, articleId){
        $(elementName).data("articleId", articleId );
    }
    
    function DeleteStockArticle(){
        var articleId = $("#confirm-del-modal").data("articleId");
        $.ajax({
            url: '@Url.Action("DeleteStockArticle", "Stock")?' + $.param({"stockArticleId": articleId}),
            type: 'GET',
            success: function (data) {
                if (data.result == true){
                    table.row($("tr#article-" + articleId)).remove().draw();
                    $("#confirm-del-modal").modal('toggle');
                    toastNotifySuccess(data.toastMessage);
                }else{
                    toastNotifyError(data.toastMessage);
                }
            },
            error: function (data){
                toastNotifyError("Errore durante l\'eliminazione dell\'articolo di magazzino.");
            }
        });
    }
    
    // chiamata dalla modale
    function AddOrRemoveQuantity() {
        var articleId = $("#add-remove-qty-modal").data("articleId");
        var model = {
            articleId: articleId,
            qtyToAddRemove: $('#qtyToAddRemove').val(),
            qtyToAddRemoveRadio: $('.qtyAddRemRadio:checked').val()
        }
    
        $.post('@Url.Action("AddOrRemoveQuantity", "Stock")', model, function (data){
            if (data.result == true){
                $("#add-remove-qty-modal").modal('toggle');
                $(".npieces-" + articleId)[0].innerText = data.newQty;
                $(".pricetot-" + articleId)[0].innerText = data.newPrice;
               toastNotifySuccess(data.toastMessage);
            }else{
                toastNotifyError(data.toastMessage);
            }
        });
    }
    
    function ShowTextBoxesForEdit(articleId){
        // todo salvarsi i valori precedenti per risettarli in caso di cancel
        var row = $('tr#article-' + articleId);
        
        var nameInput = $('<input>', {
            type: 'text',
            name: 'name',
            class: 'form-control',
            style: 'display: none',
            value: row.find($('.name-' + articleId))[0].innerText,
            id : `edit-name-${articleId}`
        });
        row.find($('td.name-'+ articleId)).html(nameInput)
        
        var brandInput = $('<input>', {
            type: 'text',
            name: 'brand',
            class: 'form-control',
            style: 'display: none',
            value: row.find($('.brand-' + articleId))[0].innerText,
            id : `edit-brand-${articleId}`
        });
        row.find($('td.brand-'+ articleId)).html(brandInput)
        
        var npiecesInput = $('<input>', {
            type: 'text',
            name: 'npieces',
            class: 'form-control',
            style: 'display: none',
            value: row.find($('.npieces-' + articleId))[0].innerText,
            id : `edit-npieces-${articleId}`
        });
        row.find($('td.npieces-'+ articleId)).html(npiecesInput)
        
        var sizeInput = $('<input>', {
            type: 'text',
            name: 'size',
            class: 'form-control',
            style: 'display: none',
            value: row.find($('.size-' + articleId))[0].innerText,
            id : `edit-size-${articleId}`
        });
        row.find($('td.size-'+ articleId)).html(sizeInput)
        
        var priceuniInput = $('<input>', {
            type: 'text',
            name: 'priceuni',
            class: 'form-control',
            style: 'display: none',
            value: row.find($('.priceuni-' + articleId))[0].innerText,
            id : `edit-priceuni-${articleId}`
        });
        row.find($('td.priceuni-'+ articleId)).html(priceuniInput)
        
        // var pricetotInput = $('<input>', {
        //     type: 'text',
        //     name: 'pricetot',
        //     class: 'form-control',
        //     style: 'display: none',
        //     value: row.find($('.pricetot-' + articleId))[0].innerText,
        //     id : `edit-pricetot-${articleId}`
        // });
        // row.find($('td.pricetot-'+ articleId)).html(pricetotInput)
        
        var saveicon = $('<i>', {
            class: 'fas fa-check fa-lg pl-2',
            style: 'color: #1cc88a; cursor: pointer; display: none',
            title: 'Salva',
            onclick: `SaveStockArticleEdit(${articleId})`,
            form : `form-${articleId}`
        });
        var undoicon = $('<i>', {
            class: 'fas fa-undo fa-lg pl-2',
            style: 'color: #f6c23e; cursor: pointer; display: none',
            title: 'Annulla modifiche',
            form : `form-${articleId}`
        });
        var editicon = $('<i>', {
            class: 'fas fa-edit fa-lg',
            style: 'color: #4e73df; cursor: pointer; display: none',
            title: 'Modifica',
            onclick: `ShowTextBoxesForEdit(${articleId})`
        });
        
        row.find($('td.editicon-'+ articleId)).html(saveicon).append(undoicon).append(editicon);
        $(nameInput).fadeIn(1500);
        $(brandInput).fadeIn(1500);
        $(npiecesInput).fadeIn(1500);
        $(sizeInput).fadeIn(1500);
        $(priceuniInput).fadeIn(1500);
        //$(pricetotInput).fadeIn(1500);
        
        $(saveicon).fadeIn(1500);
        $(undoicon).fadeIn(1500);
    }
    
    function SaveStockArticleEdit(articleId){
        var model = {
            Warehouse_StockID: articleId,
            Name: $('#edit-name-'+articleId).val(),
            Brand: $('#edit-brand-'+articleId).val(),
            Number_Piece: $('#edit-npieces-'+articleId).val(),
            Price_Tot: $('#edit-pricetot-'+articleId).val(),
            Price_Uni: $('#edit-priceuni-'+articleId).val(),
            Size:  $('#edit-size-'+articleId).val(),
        }

        $.post('@Url.Action("SaveStockArticleEdit", "Stock")', model, function (data){
            if (data.result == true){
                alert("success")
            }
        });

        
    }
    </script>>
}


    