@model RemaSoftware.Models.StockViewModel.StockListViewModel

@{
    ViewData["Title"] = "Giacenze";
}
<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Giacenze</h1>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Giacenze di magazzino</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-stock" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Marca</th>
                    <th># Pezzi</th>
                    <th>Taglia</th>
                    <th>Prezzo Unitario</th>
                    <th>Prezzo Totale</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var article in Model.WarehouseStocks)
                {
                    <tr>
                        <td>@article.Name</td>
                        <td>@article.Brand</td>
                        <td>@article.Number_Piece</td>
                        <td>@article.Size</td>
                        <td>@article.Price_Uni.ToString("0.00")</td>
                        <td>@article.Price_Tot.ToString("0.00")</td>
                        <td class="text-center"><i class="fas fa-edit" style="cursor: pointer; color: #4e73df"></i></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
    $(document).ready( function () {
        $('#table-stock').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }
            },
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": false, "orderable": false, "targets": 2 },
                { "searchable": false, "orderable": false, "targets": 3 },
                { "searchable": false, "orderable": false, "targets": 4 },
                { "searchable": false, "orderable": false, "targets": 5 },
                { "searchable": false, "orderable": false, "targets": 6 }
              ]
        });
    } );
    </script>>
}


    