@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RemaSoftware.Domain.Constants
@model RemaSoftware.WebApp.Models.StockViewModel.NewStockViewModel

@{
    ViewData["Title"] = "Modifica Prodotto";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Modifica Prodotto</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Aggiorna prodotto</h6>
    </div>
    <div class="card-body">
        <form method="post">
            @Html.HiddenFor(model => model.WarehouseStock.Warehouse_StockID)
            @Html.HiddenFor(model => model.WarehouseStock.SupplierID)
            @Html.HiddenFor(model => model.WarehouseStock.Number_Piece)

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Nome Prodotto</label>
                    <input asp-for="WarehouseStock.Name" type="text" class="form-control" value="@Model.WarehouseStock.Name" required>
                    <span asp-validation-for="WarehouseStock.Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3 form-group">
                    <label for="formGroupExampleInput">Unità di misura</label>
                    <select asp-for="WarehouseStock.Measure_Unit" class="form-control">
                        <option selected="selected" value="Nessuna">Nessuna</option>
                        @foreach (var item in Model.UnitMeasure)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Identificativo</label>
                    <input asp-for="WarehouseStock.Product_Code" type="text" class="form-control" value="@Model.WarehouseStock.Product_Code" required>
                    <span asp-validation-for="WarehouseStock.Product_Code" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Prezzo Unitario (IVA Esclusa)</label>
                    <div class="input-group-append">
                        <input min="0" asp-for="WarehouseStock.Price_Uni" value="0,00" type="text" class="form-control" id="priceUnit" value="@Model.WarehouseStock.Price_Uni">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Limite minimo (Per riordine)</label>
                    <input asp-for="WarehouseStock.Reorder_Limit" type="number" class="form-control" value="@Model.WarehouseStock.Reorder_Limit" min="0" required>
                    <span asp-validation-for="WarehouseStock.Reorder_Limit" class="text-danger"></span>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" onclick="clickEvent()">Aggiorna</button>
        </form>
    </div>
</div>


@section Scripts
{
    <script>
            
        $('#priceUnit').keypress(function (e) {
            if (e.which == 46) {
                e.preventDefault();
            }
        });
        
    </script>
}
