@model RemaSoftware.WebApp.Models.StockViewModel.StockListViewModel

@{
    ViewData["Title"] = "Giacenze";
}
<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Giacenze di magazzino</h3>
        <div>
            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddProduct", "Stock")'">Aggiungi prodotto</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-stock" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Codice</th>
                    <th>Nome</th>
                    <th>Codice Fornitore</th>
                    <th>Fornitore</th>
                    <th>Numero Pezzi</th>
                    <th>Limite minimo</th>
                    <th>Prezzo Unitario</th>
                    <th>Prezzo Totale</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var article in Model.WarehouseStocks)
                {
                    <tr id="item-@article.Warehouse_StockID" form="form-@article.Warehouse_StockID">
                        <td class="name-@article.Warehouse_StockID">@article.Warehouse_StockID</td>
                        <td class="name-@article.Warehouse_StockID">@article.Name</td>
                        <td class="productcode-@article.Warehouse_StockID">@article.Product_Code</td>
                        <td class="supplier-@article.Warehouse_StockID">@article.Supplier.Name</td>
                        <td class="npieces-@article.Warehouse_StockID">@article.Number_Piece</td>
                        <td class="limit-@article.Warehouse_StockID">@article.Reorder_Limit</td>
                        <td class="priceuni-@article.Warehouse_StockID">€@article.Price_Uni</td>
                        <td class="pricetot-@article.Warehouse_StockID">€@article.Price_Tot</td>
                        
                        <td class="pricetot-@article.Warehouse_StockID text-center">
                            @if(@article.Number_Piece>@article.Reorder_Limit){
                                <i class="fas fa-circle fa-lg" style="color: green;"><p style="display: none;">Over limit</p></i>
                            }
                            else
                            {
                                <i class="fas fa-circle fa-lg" style="color: red;"><p style="display: none;">Under limit</p></i>
                            }

                        </td>
                        
                        <td class="text-center editicon-@article.Warehouse_StockID">
                            <a style="text-decoration: none" asp-controller="Stock" asp-action="ViewStock" asp-route-id="@article.Warehouse_StockID">
                                <i class="fas fa-eye fa-lg pl-2" title="Visualizza" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                            <a onclick="printQRCode('@article.Warehouse_StockID', '@article.Name', '@article.Supplier.Name', '@article.Product_Code')" style="text-decoration: none">
                                <i class="fas fa-print fa-lg pl-2" title="Stampa etichetta" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                            <a style="text-decoration: none" asp-controller="Stock" asp-action="ModifyStock" asp-route-id="@article.Warehouse_StockID">
                             <i class="fas fa-pen fa-lg pl-2" style="cursor: pointer; color: #6d767e;" title="Modifica"></i> 
                             </a>
                            <i class="fas fa-sort fa-lg pl-2 add-rem-qty" style="cursor: pointer; color: #6d767e;" title="Aggingi/Sottrai pezzi" data-toggle="modal" data-target="#add-remove-qty-modal" onclick="SetDataArticleId('#add-remove-qty-modal', @article.Warehouse_StockID)"></i>
                            <i class="fas fa-trash fa-lg pl-2 del-stock-article" style="cursor: pointer; color: #6d767e;" id="@article.Warehouse_StockID" title="Elimina" data-toggle="modal" data-target="#confirm-del-modal" onclick="SetDataArticleId('#confirm-del-modal', @article.Warehouse_StockID)"></i>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conferma eliminazione</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sei sicuro di voler eliminare questo articolo di magazzino?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-danger" onclick="DeleteStockArticle()">Elimina</button>
            </div>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("../Stock/_AddOrRemoveQuantityModal");   
}

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dymo.connect.framework.js" type="text/javascript" charset="UTF-8"> </script>

    <script>
    window.onload = (event) => {
       var newVar = @Model.newProduct.ToString().ToLower();
       if (newVar == true){
           printQRCode(@Model.WarehouseStocks.LastOrDefault()?.Warehouse_StockID, '@Model.WarehouseStocks.LastOrDefault()?.Name', '@Model.WarehouseStocks.LastOrDefault()?.Supplier.Name', '@Model.WarehouseStocks.LastOrDefault()?.Product_Code');
       }
    };
    
    function printQRCode(id, name, supplier, sku){
        var printers = dymo.label.framework.getPrinters();
        if (printers.length == 0 || !printers[2].isConnected){
          alert("Nessuna stampante trovata.");
          return
        }
        var label = dymo.label.framework.openLabelFile("RemaStock.dymo")  
        var etichetta = "PRODOTTO: " + id + "\nNOME: " + name + "\nSUPPLIER: " + supplier  + "\nSKU: "+ sku 
        label.setObjectText("TextObject",  etichetta);
        label.setObjectText("QRCodeObject", id, "QRCode");
        label.print(printers[2].name);
        if (newVar == false){
           location.reload();
        }
    } 
    
    </script>

    <script>
    var table;
    $(document).ready( function () {
        table = $('#table-stock').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }
            },
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": true, "orderable": true, "targets": 2 },
                { "searchable": false, "orderable": false, "targets": 3 },
                { "searchable": false, "orderable": true, "targets": 4 },
                { "searchable": false, "orderable": false, "targets": 5 },
                { "searchable": false, "orderable": false, "targets": 6 },
                { "searchable": false, "orderable": false, "targets": 7 },
                { "searchable": false, "orderable": true, "targets": 8 },
                { "searchable": false, "orderable": false, "targets": 9 }
              ]
        });
    } );
    
    $(document).on("click", ".del-stock-article", function () {
         var articleId = $(this).attr('id');
         $(".modal-body #modal-addrem-articleId").val( parseInt(articleId) );
    });
    
    function SetDataArticleId(elementName, articleId){
        $(elementName).data("articleId", articleId );
    }
    
    function DeleteStockArticle(){
        var articleId = $("#confirm-del-modal").data("articleId");
        $.ajax({
            url: '@Url.Action("DeleteStockArticle", "Stock")?' + $.param({"stockArticleId": articleId}),
            type: 'GET',
            success: function (data) {
                if (data.result == true){
                    table.row($("tr#article-" + articleId)).remove().draw();
                    $("#confirm-del-modal").modal('toggle');
                    toastNotifySuccess(data.toastMessage);
                }else{
                    toastNotifyError(data.toastMessage);
                }
            },
            error: function (data){
                toastNotifyError("Errore durante l\'eliminazione dell\'articolo di magazzino.");
            }
        });
    }
    
    // chiamata dalla modale
    function AddOrRemoveQuantity() {
        var articleId = $("#add-remove-qty-modal").data("articleId");
        var model = {
            articleId: articleId,
            qtyToAddRemove: $('#qtyToAddRemove').val(),
            qtyToAddRemoveRadio: $('.qtyAddRemRadio:checked').val()
        }
    
        $.post('@Url.Action("AddOrRemoveQuantity", "Stock")', model, function (data){
            if (data.result == true){
                $("#add-remove-qty-modal").modal('toggle');
                $(".npieces-" + articleId)[0].innerText = data.newQty;
                $(".pricetot-" + articleId)[0].innerText = "€" + data.newPrice.toFixed(2).replace('.', ',');
               toastNotifySuccess(data.toastMessage);
            }else{
                toastNotifyError(data.toastMessage);
            }
        });
    }
    </script>>
}


    