@using RemaSoftware.Domain.Constants
@model RemaSoftware.WebApp.Models.StockViewModel.NewStockViewModel

@{
    ViewData["Title"] = "Aggiungi Prodotto";
}

<h4 class="m-0 font-weight-bold text-primary mb-3">Prodotto: @Model.WarehouseStock.Name</h4>
<div class="row">
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Numero pezzi</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.WarehouseStock.Number_Piece</div>
                        <small>Pezzi limite: @Model.WarehouseStock.Reorder_Limit</small>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Codice prodotto</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.WarehouseStock.Product_Code</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-barcode fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Costo unitario</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.WarehouseStock.Price_Uni</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Unità di misura</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.WarehouseStock.Measure_Unit</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-info fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Fornitore</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.WarehouseStock.Supplier.Name</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Valore totale
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.WarehouseStock.Price_Tot</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Storico ingressi/uscite prodotto</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table-ddts">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Azione</th>
                    <th>N° Pezzi</th>
                </tr>
                </thead>
                @*<tbody>
                @foreach (var ddt in Model.SubBatch.Ddts_In)
                {
                    <tr style="cursor: pointer;">
                        <td>@ddt.Code</td>
                        <td>@ddt.Number_Piece</td>
                        <td>@ddt.Number_Piece_Now</td>
                        <td>@ddt.Number_Piece_ToSupplier</td>
                        <td>@ddt.DataIn.ToString("dd/MM/yy")</td>
                        <td>@ddt.DataOut.ToString("dd/MM/yy")</td>
                        <td>@OrderPriorityConstant.OrderPriority[@ddt.Priority]</td>
                        <td class="text-center">
                            @{
                                if (!string.IsNullOrEmpty(ddt.Status))
                                {
                                    var statusDto = OrderStatusConstants.OrderStatuses[@ddt.Status];
                                    <i class="fas fa-circle fa-lg" style="color: @statusDto?.StatusCssClass" title="@statusDto?.StatusDescription"></i>
                                }
                            }
                        </td>
                    </tr>
                }
                </tbody>*@
            </table>
        </div>
    </div>
</div>


@*<script>
 $(document).ready( function () {
        table = $('#table-ddts').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }                
            },
            "product": [[0, 'asc']],
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": false, "orderable": false, "targets": 1 },
                { "searchable": false, "orderable": false, "targets": 2 },
                { "searchable": false, "orderable": false, "targets": 3 },
                { "searchable": false, "orderable": true, "targets": 4 },
                { "searchable": false, "orderable": true, "targets": 5 },
                { "searchable": true, "orderable": false, "targets": 6 },
                { "searchable": false, "orderable": false, "targets": 7 },
              ]
        });
    });

</script>*@