@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RemaSoftware.WebApp.Models.OrderViewModel.DuplicateOrderViewModel

@{
    ViewData["Title"] = "Nuovo Ordine";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Aggiungi Ordine</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nuovo ordine</h6>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="NewSubBatch" class="form-check-input" type="checkbox" id="gridCheck" checked style="cursor: pointer;">
                    <label class="form-check-label" for="gridCheck">
                        Selezionare se si vuole creare un nuovo lotto
                    </label>
                </div>
            </div>
            @Html.HiddenFor(model => model.Ddt_In.ProductID)
            <div class="form-group">
                <label for="formGroupExampleInput">Codice DDT</label>
                <input asp-for="Ddt_In.Code" type="text" class="form-control" id="DDT_cod" placeholder="Codice DDT">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Numero di pezzi</label>
                <input min="0" asp-for="Ddt_In.Number_Piece" type="number" class="form-control" id="formGroupExampleInput" placeholder="Numero di pezzi">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Numero di pezzi mancanti</label>
                <input min="0" asp-for="Ddt_In.NumberMissingPiece" type="number" class="form-control" id="formGroupExampleInput" placeholder="Numero di pezzi">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="Ddt_In.IsReso" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Selezionare se si sta inserendo un reso non lavorato
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="Ddt_In.FreeRepair" class="form-check-input" type="checkbox" id="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">
                        Selezionare se si sta inserendo una riparazione gratuita
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="validationTooltip04">Prezzo Unitario (IVA Esclusa) *</label>
                <div class="input-group-append">
                    <input min="0" asp-for="Price" value="@Model.Price" type="text" class="form-control" id="priceUnit" placeholder="Prezzo Unitario">
                    <span class="input-group-text">€</span>
                </div>
            </div>
            <div class="form-group">
                <label>Seleziona data di consegna</label>
                <div class='input-group date'>
                    <input placeholder="Seleziona data di consegna" type='text' class="form-control bg-white" id='datetimepicker1' asp-for="Date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Seleziona priorità</label>
                <select asp-for="Ddt_In.Priority" class="form-control">
                    <option value="0">Minore</option>
                    <option selected="selected" value="1">Normale</option>
                    <option value="2">Maggiore</option>
                    <option value="3">Critica</option>
                    <option value="4">Bloccante</option>
                </select>
            </div>
            <div class="form-group">
                <label for="desc">Descrizione</label>
                <textarea asp-for="Ddt_In.Description" class="form-control" id="desc" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <textarea asp-for="Ddt_In.Note" class="form-control" id="note" rows="3"></textarea>
            </div>
            @for (var i = 0; i < Model.OperationsSelected.Count; i++)
            {
                @Html.HiddenFor(model => model.OperationsSelected[i])
            }
            <div style="width:100px; margin-top:50px;">
                <button class="btn btn-primary" type="submit" onclick="clickEvent()">Aggiungi</button>
            </div>
        </form>
    </div>
</div>

<div class="loader-cont">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
    
        var clicked = false;
        
        function clickEvent() {
        $(".loader-cont").show()
        if(!clicked)
        {
            clicked = true;
            setTimeout(function(){
                clicked = false;
            }, 1500);
        }
        }

        $('#priceUnit').keypress(function (e) {
            var currentText = $(this).val();
            
            if (e.which == 46 && (currentText.indexOf('.') != -1 || currentText.length === 0)) {
                e.preventDefault();
            }
        });
                
        var date = "today";
        if (@Model.Ddt_In.DataOut.CompareTo(@DateTime.Now) > 0){
           date = '@Model.Ddt_In.DataOut.ToString("dd/MM/yyyy")'
        }
        
        $("#datetimepicker1").flatpickr({
            dateFormat: "d/m/Y",
            minDate: "today",
            defaultDate: date,
            locale: {
                weekdays: {
                    shorthand: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'],
                    longhand: ['Domenica', 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato'],
                },
                    months: {
                        shorthand: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Оtt', 'Nov', 'Dic'],
                        longhand: ['Gennaio', 'Febbraio', 'Мarzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
                    }
            }

        });
    </script>
    
}





