@using RemaSoftware.Domain.Constants
@using RemaSoftware.WebApp.Models.OrderViewModel
@model RemaSoftware.WebApp.Models.OrderViewModel.OrderSummaryViewModel

@{
    ViewData["Title"] = "Resoconto ordini";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Resoconto ordini attivi</h3>
        <div>
            <a class="btn btn-primary text-white" asp-action="NewOrder" asp-controller="Order" type="button">Registra ordine</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-ddt" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Cliente</th>
                    <th>DDT</th>
                    <th>SKU</th>
                    <th>N° pezzi</th>
                    <th>N° pezzi attuali</th>
                    <th>Prz. Unitario</th>
                    <th>Arrivo ordine</th>
                    <th>Scadenza ordine</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ddt in Model.Ddt_In)
                {
                    <tr id="ddt-@ddt.Ddt_In_ID">
                        <td>@ddt.Product.Client.Name</td>
                        <td>@ddt.Code</td>
                        <td>@ddt.Product.SKU</td>
                        <td id="pieces-number-@ddt.Ddt_In_ID">@ddt.Number_Piece</td>
                        <td id="pieces-number-now-@ddt.Ddt_In_ID">@ddt.Number_Piece_Now</td>
                        <td>&euro;@ddt.Price_Uni.ToString("0.00")</td>
                        <td>@ddt.DataIn.ToString("dd/MM/yy")</td>
                        <td>@ddt.DataOut.ToString("dd/MM/yy")</td>
                        <td class="text-center">
                            @{
                                if (!string.IsNullOrEmpty(ddt.Status))
                                {
                                    var statusDto = OrderStatusConstants.OrderStatuses[@ddt.Status];
                                    <i class="fas fa-circle fa-lg" style="color: @statusDto?.StatusCssClass" title="@statusDto?.StatusDescription"></i>
                                }
                            }
                        </td>
                        <td class="text-center">
                            <a style="text-decoration: none" onclick="setInventaryDdtId(@ddt.Ddt_In_ID)">
                                <i class="fas fa-boxes fa-lg pl-2" title="Inventario" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                            @if (ddt.Status == OrderStatusConstants.STATUS_ARRIVED)
                            {
                                <i class="fas fa-trash fa-lg pl-2 del-stock-article" style="cursor: pointer; color: #6d767e;" id="@ddt.Ddt_In_ID" title="Elimina" data-toggle="modal" data-target="#confirm-del-modal" onclick="SetDataArticleId('#confirm-del-modal', @ddt.Ddt_In_ID)"></i>
                                <a style="text-decoration: none" asp-action="EditOrder" asp-controller="Order" asp-route-id="@ddt.Ddt_In_ID">
                                    <i class="fas fa-pen fa-lg pl-2" style="cursor: pointer; color: #6d767e;" title="Modifica"></i>
                                </a>
                            }
                            else
                            {
                                <a style="text-decoration: none" asp-controller="Order" asp-action="SubBatchMonitoring" asp-route-id="@ddt.SubBatchID">
                                    <i class="fas fa-eye fa-lg pl-2" title="Visualizza avanzamento" style="cursor: pointer; color: #6d767e"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="inventary-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inventario</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Registra il numero di pezzi attualmente in azienda</h5>
                <div class="form-group">
                    <label for="pieces">Numero pezzi</label>
                    <input type="number" class="form-control" id="pieces" placeholder="Numero pezzi"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-danger" onclick="ConfirmStockVariation()">Conferma</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conferma eliminazione</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sei sicuro di voler eliminare questa ddt?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-danger" onclick="DeleteStockArticle()">Elimina</button>
            </div>
        </div>
    </div>
</div>
<div class="loader-cont">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

@{await Html.RenderPartialAsync("../Order/_CopyOrderModal", new CopyOrderViewModel());}

@section Scripts
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js" integrity="sha512-9p/L4acAjbjIaaGXmZf0Q2bV42HetlCLbv8EP0z3rLbQED2TAFUlDvAezy7kumYqg5T8jHtDdlm1fgIsr5QzKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
    let ddtId;
    function setInventaryDdtId(param) {
        ddtId = param
        $("#inventary-modal").modal('toggle');
    }
    
    function ConfirmStockVariation() {
        $(".loader-cont").show()
        var pieces = document.getElementById("pieces").value
        if (pieces == ""){
            toastNotifyError("Inserire il valore.");
            $(".loader-cont").hide()
            return;
        }
        $.ajax({
            url: '@Url.Action("StockVariation", "Order")?' 
            + $.param({"id": ddtId}) + "&" 
            + $.param({"pieces": pieces}),
            type: 'GET',
            success: function (response) {
                if (response.result){
                    $("#inventary-modal").modal('toggle');
                    if (pieces == 0){
                        table.row($("tr#ddt-" + ddtId)).remove().draw();
                    }
                    else{
                        var diff = parseInt(pieces) - parseInt(document.getElementById("pieces-number-now-" + ddtId).textContent) ;
                        var nPieces = parseInt(document.getElementById("pieces-number-" + ddtId).textContent) + diff;
                        document.getElementById("pieces-number-" + ddtId).textContent = nPieces
                        document.getElementById("pieces-number-now-" + ddtId).textContent = pieces;
                    }
                    toastNotifySuccess(response.message);
                }else{
                    toastNotifyError(response.message);
                }
                $(".loader-cont").hide()
            },
            error: function (data){
                toastNotifyError(data.toastMessage);
                $(".loader-cont").hide()
            }
        });
    }
    
    let enable = true;

    function SetDataArticleId(elementName, articleId){
        $(elementName).data("articleId", articleId );
    }

    function DeleteStockArticle(){
        $(".loader-cont").show()
        var articleId = $("#confirm-del-modal").data("articleId");
        $.ajax({
            url: '@Url.Action("DeleteProduct", "Order")?' + $.param({"productId": articleId}),
            type: 'GET',
            success: function (data) {
                if (data.data != 0){
                    table.row($("tr#ddt-" + articleId)).remove().draw();
                    $("#confirm-del-modal").modal('toggle');
                    toastNotifySuccess(data.toastMessage);
                }else{
                    toastNotifyError(data.toastMessage);
                }
                $(".loader-cont").hide()
            },
            error: function (data){
                toastNotifyError(data.toastMessage);
                $(".loader-cont").hide()
            }
        });
    }

    $(document).ready( function () {
        table = $('#table-ddt').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }                
            },
            "order": [[0, 'asc']],
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": true, "orderable": true, "targets": 2 },
                { "searchable": false, "orderable": false, "targets": 3 },
                { "searchable": false, "orderable": false, "targets": 4 },
                { "searchable": false, "orderable": false, "targets": 5 },
                { "searchable": false, "orderable": true, "targets": 6 },
                { "searchable": false, "orderable": true, "targets": 7 },
                { "searchable": false, "orderable": false, "targets": 8 },
                { "searchable": false, "orderable": false, "targets": 9 },
              ]
        });

        
        
    });

    function formatDate(timestamp){
        var x=new Date(timestamp);
        var dd = x.getDate();
        var mm = x.getMonth()+1;
        var yy = x.getFullYear();
        return dd +"/" + mm+"/" + yy;
     }

    function setOrderId(OrderIdToDuplicate) {
        $("#id_ordine").val(OrderIdToDuplicate)
    }
    
    </script>
}