@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RemaSoftware.Domain.Constants
@using RemaSoftware.WebApp.Models.OrderViewModel
@model RemaSoftware.WebApp.Models.OrderViewModel.OrderSummaryViewModel

@{
    ViewData["Title"] = "Resoconto ordini";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Resoconto ordini attivi</h3>
        <div>
            <button class="btn btn-primary text-white" type="button" onclick="printPage()" style="position:relative; right: 20px;"><i class="fa fa-print" style="position:relative; right: 5px;"></i>Stampa pagina</button>
            <button class="btn btn-primary text-white" type="button" onclick="showImages()" style="position:relative; right: 10px;"><i class="fa fa-image" style="position:relative; right: 5px;"></i>Visualizza immagini</button>
            <a class="btn btn-primary text-white" asp-action="NewOrder" asp-controller="Order" type="button">Registra ordine</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table-ddt" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>N° Lotto</th>
                    <th>Cliente</th>
                    <th>DDT</th>
                    <th>SKU Prodotto</th>
                    <th>Nome Prodotto</th>
                    <th>N° pezzi</th>
                    <th>N° pezzi attuali</th>
                    <th>N° pezzi fornitore</th>
                    <th>Prz. Unitario</th>
                    <th>Operazioni</th>
                    <th>Arrivo ordine</th>
                    <th>Scadenza ordine</th>
                    <th>Descrizione</th>
                    <th id="imageId" style="display: none; padding: 35px 30px 15px 10px; position: relative;">Immagini</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ddt in Model.Ddt_In)
                {
                    <tr id="ddt-@ddt.Ddt_In_ID">
                        <td>@ddt.SubBatchID</td>
                        <td>@ddt.Product.Client.Name</td>
                        <td>@ddt.Code</td>
                        <td>@ddt.Product.SKU</td>
                        <td>@ddt.Product.Name</td>
                        <td id="pieces-number-@ddt.Ddt_In_ID">@ddt.Number_Piece</td>
                        <td id="pieces-number-now-@ddt.Ddt_In_ID">
                            @(ddt.Number_Piece_Now + ddt.Number_Piece_ToSupplier)
                        </td>
                        <td id="pieces-number-supplier-@ddt.Ddt_In_ID">@ddt.Number_Piece_ToSupplier</td>
                        <td>&euro;@ddt.Price_Uni.ToString("0.000")</td>
                        @if (@ddt.SubBatch.Batch.BatchOperations.Count > 2)
                        {
                            <td onclick="showOperation(@ddt.SubBatchID)" style="cursor: pointer;">
                                Operazioni associate
                            </td>
                        }
                        else
                        {
                            <td style="font-size:  13px;">
                                @foreach (var operation in ddt.SubBatch.Batch.BatchOperations)
                                {
                                    <div>
                                        @if (operation != null && operation.Operations != null)
                                        {
                                            @operation.Operations.Name<br>
                                        }
                                        else
                                        {
                                            <span>Nessuna operazione disponibile</span>
                                        }
                                    </div>
                                }
                            </td>
                        }
                        <td>@ddt.DataIn.ToString("dd/MM/yy")</td>
                        <td id="dataend-@ddt.Ddt_In_ID">@ddt.DataOut.ToString("dd/MM/yy")</td>
                        <td id="description-@ddt.Ddt_In_ID" style="font-size: 13px;">@ddt.Description</td>
                        <td class="classImage" style="display: none; padding:  0px !important;">
                            <img class="image-class d-none" width="140px;" data-src="@Model.BasePathImages@ddt.Product.FileName"/>
                        </td>
                        <td class="text-center">
                            @{
                                if (!string.IsNullOrEmpty(ddt.Status))
                                {
                                    var statusDto = OrderStatusConstants.OrderStatuses[@ddt.Status];
                                    <i class="fas fa-circle fa-lg" style="color: @statusDto?.StatusCssClass" title="@statusDto?.StatusDescription"></i>
                                }
                            }
                        </td>
                        <td class="text-center">
                            <a style="text-decoration: none" onclick="setInventaryDdtId(@ddt.Ddt_In_ID)">
                                <i class="fas fa-boxes fa-lg pl-2" title="Inventario" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                            @if (ddt.Status == OrderStatusConstants.STATUS_ARRIVED)
                            {
                                <i class="fas fa-trash fa-lg pl-2 del-stock-article" style="cursor: pointer; color: #6d767e;" id="@ddt.Ddt_In_ID" title="Elimina" data-toggle="modal" data-target="#confirm-del-modal" onclick="SetDataArticleId('#confirm-del-modal', @ddt.Ddt_In_ID)"></i>
                                <a style="text-decoration: none" asp-action="EditOrder" asp-controller="Order" asp-route-id="@ddt.Ddt_In_ID">
                                    <i class="fas fa-pen fa-lg pl-2" style="cursor: pointer; color: #6d767e;" title="Modifica"></i>
                                </a>
                            }
                            <a style="text-decoration: none" asp-controller="Order" asp-action="SubBatchMonitoring" asp-route-id="@ddt.SubBatchID">
                                <i class="fas fa-eye fa-lg pl-2" title="Visualizza avanzamento" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                            <a style="text-decoration: none" asp-controller="Order" asp-action="DuplicateOrder" asp-route-id="@ddt.SubBatchID">
                                <i class="fas fa-files-o fa-lg pl-2" title="Duplicazione" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                            <a style="text-decoration: none" onclick="quickEdit(@ddt.Ddt_In_ID)">
                                <i class="fas fa-calendar fa-lg pl-2" title="Modifica rapida" style="cursor: pointer; color: #6d767e"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="operation_associate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="operationModalHeader"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="batch_operation"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inventary-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inventario</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Registra il numero di pezzi attualmente in azienda</h5>
                <div class="form-group">
                    <label for="pieces">Numero pezzi</label>
                    <input type="number" class="form-control" id="pieces" placeholder="Numero pezzi"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-primary" onclick="ConfirmStockVariation()">Conferma</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conferma eliminazione</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sei sicuro di voler eliminare questa ddt?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-danger" onclick="DeleteStockArticle()">Elimina</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="quick-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifica rapida</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="desc">Data di consegna</label>
                <div class='input-group date'>
                    <input placeholder="Seleziona data di consegna" type='text' class="form-control bg-white" id='datetimepicker1' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="modal-body">
                <label for="formGroupExampleInput">Seleziona priorità</label>
                <select class="form-control" id="priority">
                    <option value="0">Minore</option>
                    <option selected="selected" value="1">Normale</option>
                    <option value="2">Maggiore</option>
                    <option value="3">Critica</option>
                    <option value="4">Bloccante</option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-primary" onclick="ConfirmQuickEdit()">Conferma</button>
            </div>
        </div>
    </div>
</div>

<div class="loader-cont">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

@{await Html.RenderPartialAsync("../Order/_CopyOrderModal", new CopyOrderViewModel());}

<style>
    .table td, .table th{
        padding:  0.5rem !important;
    }
</style>
@section Scripts
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js" integrity="sha512-9p/L4acAjbjIaaGXmZf0Q2bV42HetlCLbv8EP0z3rLbQED2TAFUlDvAezy7kumYqg5T8jHtDdlm1fgIsr5QzKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
    let ddtId;
    let ddtQuickId;
    let controlImage = false;
    
    function setInventaryDdtId(param) {
        ddtId = param
        $("#inventary-modal").modal('toggle');
    }

    function quickEdit(param) {
        ddtQuickId = param
        $("#quick-modal").modal('toggle');
    }

    const operations = @Json.Serialize(Model.Ddt_In.Select(s => new {
                           s.SubBatchID,
                           Operations = s.SubBatch.Batch.BatchOperations
                               .Select(bo => new {
                                   bo.Operations.Name,
                               }).ToList()
                       }));

    function showOperation(subbatchId) {
        var operation = operations.filter(obj => {
            return obj.subBatchID === Number(subbatchId);
        });

        if (operation.length > 0) {
            var operation_list = "";
            operation[0].operations.forEach(function(op) {
                operation_list += op.name + "<br/>";
            });

            $("#operation_associate").modal('show');
            document.getElementById("batch_operation").innerHTML = operation_list;
            document.getElementById("operationModalHeader").textContent = "Operazioni associate al lotto #" + subbatchId;
        }
    }
    
    if (@Model.SubBatchId > 0){
        var aElement = document.createElement("a");
        aElement.setAttribute("type", "hidden");
        aElement.href = '@Url.Action("DownloadPdfOrder", "Order")' + "?id=" + @Model.SubBatchId;
        aElement.target = "_blank";
        document.getElementsByTagName("body")
        aElement.click();
    }
    
    function ConfirmStockVariation() {
        $(".loader-cont").show()
        var pieces = document.getElementById("pieces").value
        if (pieces == ""){
            toastNotifyError("Inserire il valore.");
            $(".loader-cont").hide()
            return;
        }
        $.ajax({
            url: '@Url.Action("StockVariation", "Order")?' 
            + $.param({"id": ddtId}) + "&" 
            + $.param({"pieces": pieces}),
            type: 'GET',
            success: function (response) {
                if (response.result){
                    $("#inventary-modal").modal('toggle');
                    if (pieces == 0){
                        table.row($("tr#ddt-" + ddtId)).remove().draw();
                    }
                    else{
                        var diff = parseInt(pieces) - parseInt(document.getElementById("pieces-number-now-" + ddtId).textContent) ;
                        var nPieces = parseInt(document.getElementById("pieces-number-" + ddtId).textContent) + diff;
                        document.getElementById("pieces-number-" + ddtId).textContent = nPieces
                        document.getElementById("pieces-number-now-" + ddtId).textContent = pieces;
                    }
                    toastNotifySuccess(response.message);
                }else{
                    toastNotifyError(response.message);
                }
                $(".loader-cont").hide()
            },
            error: function (data){
                toastNotifyError(data.toastMessage);
                $(".loader-cont").hide()
            }
        });
    }

    function ConfirmQuickEdit() {
        $(".loader-cont").show();
        var data = document.getElementById("datetimepicker1").value;
        var priority = document.getElementById("priority").value;
        
        $.ajax({
            url: '/Order/QuickEdit',
            type: 'GET',
            data: {
                id: ddtQuickId,
                date: data,
                priority: priority
            },
            success: function(response) {
                if (response.result) {
                    $("#quick-modal").modal('toggle');
                    var formattedData = data.replace('/20', '/');
                    document.getElementById('dataend-' + ddtQuickId).innerText = formattedData;
                    toastNotifySuccess(response.message);
                } else {
                    toastNotifyError(response.message);
                }
                $(".loader-cont").hide();
            },
            error: function(data) {
                toastNotifyError(data.toastMessage);
                $(".loader-cont").hide();
            }
        });
    }


    let enable = true;

    function SetDataArticleId(elementName, articleId){
        $(elementName).data("articleId", articleId );
    }
    
    function DeleteStockArticle(){
        $(".loader-cont").show()
        var articleId = $("#confirm-del-modal").data("articleId");
        $.ajax({
            url: '@Url.Action("DeleteProduct", "Order")?' + $.param({"productId": articleId}),
            type: 'GET',
            success: function (data) {
                if (data.data != 0){
                    table.row($("tr#ddt-" + articleId)).remove().draw();
                    $("#confirm-del-modal").modal('toggle');
                    toastNotifySuccess(data.toastMessage);
                }else{
                    toastNotifyError(data.toastMessage);
                }
                $(".loader-cont").hide()
            },
            error: function (data){
                toastNotifyError(data.toastMessage);
                $(".loader-cont").hide()
            }
        });
    }

    $(document).ready( function () {
        table = $('#table-ddt').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ risultati per pagina",
                "zeroRecords": "Nessun risultato trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun risultato disponibile",
                "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                "search": "Ricerca:",
                "paginate": {
                    "first": "Inizio",
                    "previous": "Precedente",
                    "next": "Successivo",
                    "last": "Fine"
                }                
            },
            "order": [[0, 'asc']],
            "columnDefs": [
                { "searchable": true, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": true, "orderable": true, "targets": 2 },
                { "searchable": true, "orderable": true, "targets": 3 },
                { "searchable": true, "orderable": true, "targets": 4 },
                { "searchable": false, "orderable": false, "targets": 5 },
                { "searchable": false, "orderable": false, "targets": 6 },
                { "searchable": false, "orderable": false, "targets": 7 },
                { "searchable": false, "orderable": false, "targets": 8 },
                { "searchable": true, "orderable": false, "targets": 9 },
                { "searchable": false, "orderable": true, "targets": 10, "type": "date-eu" },
                { "searchable": false, "orderable": true, "targets": 11, "type": "date-eu" },
                { "searchable": false, "orderable": false, "targets": 12 },
                { "searchable": true, "orderable": false, "targets": 13 },
                { "searchable": false, "orderable": false, "targets": 14 },
                { "searchable": false, "orderable": false, "targets": 15 },
              ]
        });
        
    });

    $("#datetimepicker1").flatpickr({
        dateFormat: "d/m/Y",
        minDate: "today",
        locale: {
            weekdays: {
                shorthand: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'],
                longhand: ['Domenica', 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato'],
            },
            months: {
                shorthand: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Оtt', 'Nov', 'Dic'],
                longhand: ['Gennaio', 'Febbraio', 'Мarzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
            }
        }

    });

    function formatDate(timestamp){
        var x=new Date(timestamp);
        var dd = x.getDate();
        var mm = x.getMonth()+1;
        var yy = x.getFullYear();
        return dd +"/" + mm+"/" + yy;
     }

    function setOrderId(OrderIdToDuplicate) {
        $("#id_ordine").val(OrderIdToDuplicate)
    }

    function showImages() {

        var elements = document.querySelectorAll('.image-class');
        var classImages = document.querySelectorAll('.classImage');
    
        elements.forEach(function(element, index) {
            var classImage = classImages[index];
            classImage.style.display = 'none';
            element.classList.add('d-none');
            element.removeAttribute('src');
        })

        if(controlImage == false){
            elements.forEach(function(element, index) {
                var classImage = classImages[index];
                classImage.style.display = 'block';
                element.src = element.getAttribute('data-src');
                element.classList.remove('d-none');
            });
            controlImage = true;
        }else{
            controlImage = false;
        }
        

        if (elements[0].classList.contains('d-none')) {
            document.getElementById('imageId').style.display = 'none';
        }else{
            document.getElementById('imageId').style.display = 'block';
            document.getElementById('imageId').style.width = '100px';
        }
    }

    async function printPage() {
        try {
            const originalTable = document.getElementById('table-ddt');
            const clonedTable = originalTable.cloneNode(true);
            const columnsToRemove = [8, 14, 15];

            const headerCells = clonedTable.querySelectorAll('thead tr th');
            columnsToRemove.sort((a, b) => b - a).forEach(index => {
                if (headerCells[index]) {
                    headerCells[index].remove();
                }
            });

            const bodyRows = clonedTable.querySelectorAll('tbody tr');
            bodyRows.forEach(row => {
                const cells = row.querySelectorAll('td');
                columnsToRemove.forEach(index => {
                    if (cells[index]) {
                        cells[index].remove();
                    }
                });
            });

            const printWindow = window.open('', '_blank');
            printWindow.document.open();
            printWindow.document.write(`
            <html>
            <head>
                <title>Ordini attivi</title>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            </head>
            <body>
                <h3 class="text-center">Resoconto ordini attivi</h3>
                ${clonedTable.outerHTML} <!-- Inserimento della tabella clonata -->
            </body>
            </html>
        `);

            printWindow.document.close();

            printWindow.onload = function() {
                printWindow.focus();
                printWindow.print();
                printWindow.close();
            };
        } catch (error) {
            console.error('Errore durante il processo di stampa:', error); // Log dell'errore in console
        }
    }
    </script>
}