@model RemaSoftware.WebApp.Models.OrderViewModel.PartialDDTViewModel

@{
    ViewData["Title"] = "DDT Parziale";
}


<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Seleziona ordini da emettere</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <table id="partialDDTTable" class="table">
                <thead>
                <tr>
                    <th class="text-center" scope="col">Seleziona per emettere</th>
                    <th scope="col">DDT</th>
                    <th scope="col">Prodotto</th>
                    <th scope="col">Numero pezzi</th>
                    <th scope="col">Tipo</th>
                    <th class="text-center" scope="col">Annulla</th>
                </tr>
                </thead>
                <tbody>
                <input asp-for="@Model.DdtId" style="display: none" type="text">
                <input asp-for="@Model.ClientId" style="display: none" type="text">
                @for (var i = 0; i < Model.PartialDdtDtos.Count; i++)
                {
                    <input asp-for="@Model.PartialDdtDtos[i].DdtAssociation.ID" style="display: none" type="text">
                    <tr id="ddt-out-@Model.PartialDdtDtos[i].DdtAssociation.ID">
                        <td class="text-center"><input asp-for="@Model.PartialDdtDtos[i].ToEmit" class="form-check-input" type="checkbox" id="gridCheck"></td>
                        <td>@Model.PartialDdtDtos[i].DdtAssociation.Ddt_In.Code</td>
                        <td>@Model.PartialDdtDtos[i].DdtAssociation.Ddt_In.Product.SKU</td>
                        <td>@Model.PartialDdtDtos[i].DdtAssociation.NumberPieces</td>
                        <td>@Model.PartialDdtDtos[i].DdtAssociation.TypePieces</td>
                        <td class="text-center"><i class="fas fa-trash fa-lg pl-2 del-stock-article" style="cursor: pointer; color: #6d767e;" title="Elimina" data-toggle="modal" data-target="#confirm-del-modal" onclick="SetDDTAssociationId('@Model.PartialDdtDtos[i].DdtAssociation.ID')"></i></td>
                    </tr>
                }
                <tr></tr>
                </tbody>
            </table>
            <button style="float: right" class="btn btn-primary" type="submit" onclick="clickEvent()">Emetti selezionati</button>
        </form>
    </div>
</div>

<div class="modal fade" id="confirm-del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conferma eliminazione</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sei sicuro di voler annullare? I pezzi verrano riassegnati al magazzino nello stato "In lavorazione"</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <button class="btn btn-danger" onclick="DeleteDDTAssociation()">Elimina</button>
            </div>
        </div>
    </div>
</div>
<div class="loader-cont">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script>
    let ddtIdTodelete;
    function SetDDTAssociationId(ddtAssId){
        ddtIdTodelete = ddtAssId;
    }
    var table = document.getElementById("partialDDTTable");
    function DeleteDDTAssociation(){
        $(".loader-cont").show()
        $.ajax({
            url: '@Url.Action("DeleteDDTAssociation", "Order")?' + $.param({"id": ddtIdTodelete}),
            type: 'GET',
            success: function (result) {                    
                if (result.data != null || result.data > 0){
                    document.getElementById("ddt-out-" + result.data).remove()
                    $("#confirm-del-modal").modal('hide');
                    toastNotifySuccess("DDT eliminata correttamente");
                }else{
                    toastNotifyError("Errore durante l'eliminazione della ddt");
                }
                $(".loader-cont").hide()
            },
            error: function (data){
                toastNotifyError(data.toastMessage);
                $(".loader-cont").hide()
            }
        });
    }
    
    var clicked = false;
    
    function clickEvent() {
        $(".loader-cont").show()
        if(!clicked)
        {
            clicked = true;
            setTimeout(function(){
                clicked = false;
            }, 1500);
        }
    }
</script>