@model RemaSoftware.WebApp.Models.OrderViewModel.QualityControlViewModel
@{
    ViewData["Title"] = "Controllo qualità";
}
<script>
  let counter=0;
  function counterTest(){
    setInterval(() => {
      counter++
    }, 1000)    
  }
  counterTest()
  function getTime(seconds, id){
    setInterval(() => {
      var sec = parseInt(seconds) + counter;
      var date = new Date(sec * 1000).toISOString().substring(11, 19)
      document.getElementById("time-"+id).innerHTML= "<i>- Tempo: </i>" + date
    }, 1000) 
  }
</script>
<h4 class="m-0 mb-4 font-weight-bold text-primary">Controllo qualità</h4>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Resoconto lotti:</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div style="border-right: 0.25rem solid #4e73df !important;" class="card border-right-primary border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="mt-4 mb-4 h-100 text-center align-items-center">
                            <a class="mt-5 mb-4 text-white btn btn-primary" onclick="startCamera()" data-toggle="modal" data-target="#add-subbatch">Aggiungi lotto</a>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model.OperationTimeLine)
            {
                <div class="col-xl-3 col-md-6 mb-4">
                    <div style="border-right: 0.25rem solid #1cc88a !important;" class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <h5 class="text-center font-weight-bold text-black text-uppercase mb-1">Lotto: @item.SubBatchID</h5>
                            <hr/>
                            <div>
                                <span><i>- Cliente: </i>@item.SubBatch.Ddts_In[0].Product.Client.Name</span><br/>
                                <span><i>- Pezzi rimanenti: </i>@item.SubBatch.Ddts_In.Sum(s => s.Number_Piece_Now)</span><br/>
                                @{ var time = (int)(DateTime.Now - item.StartDate).TotalSeconds; }
                                <span id="time-@item.OperationTimelineID"></span><br/>
                                <script>
                                getTime('@time', '@item.OperationTimelineID')
                              </script>
                            </div>
                            <hr/>
                            <div class="text-center align-items-center">
                                <a class="text-white btn btn-primary" onclick="setSubBatchId('@item.SubBatchID', '@item.SubBatch.Ddts_In.Sum(s => s.Number_Piece_Now)', '@item.OperationTimelineID', '@item.SubBatch.Ddts_In[0].Product.Client.Name', '@item.SubBatch.Ddts_In[0].Product.SKU')" data-toggle="modal" data-target="#end-subbatch">Concludi ordine</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="card shadow mb-4" id="order-summ-content">
<div class="d-sm-flex align-items-center justify-content-between card-header py-3">
    <h3 class="m-0 font-weight-bold text-primary">Ultime etichette stampate</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col">Lotto</th>
                <th scope="col">Cliente</th>
                <th scope="col">Prodotto</th>
                <th scope="col">Pezzi buoni</th>
                <th scope="col">Scarti</th>
                <th scope="col">Persi</th>
                <th scope="col">Stampa</th>
            </tr>
            </thead>
            <tbody>
            @foreach(var item in Model.Label)
            {
                <tr>
                    <td class="text-center">@item.SubBatchCode</td>
                    <td>@item.Client</td>
                    <td>@item.SKU</td>
                    <td>@item.OkPieces</td>
                    <td>@item.WastePieces</td>
                    <td>@item.LostPieces</td>
                    <td>
                        <a onclick="printOldLabel('@item.SubBatchCode', '@item.OkPieces', '@item.LostPieces', '@item.WastePieces', '@item.Client', '@item.SKU')" style="text-decoration: none">
                            <i class="fas fa-print fa-lg pl-2" title="Stampa etichetta" style="cursor: pointer; color: #6d767e"></i>
                        </a>
                    </td>
                </tr>
            }
            <tr></tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="add-subbatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aggiungi lotto</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-action="SubBatchAtControl" asp-controller="Order">
                <div class="modal-body">
                    <span class="mb-2">Inserisci il codice del lotto oppure avvicina il qr alla fotocamera</span>
                    <input asp-for="subBatchId" class="mb-2 mt-2 form-control" id="subBatchId" placeholder="Codice lotto">
                    <video class="mt-2" width="100%" style="position: relative; border-radius: 5px;" id="preview"></video>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary">Conferma</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="end-subbatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Concludi ordine #<strong id="HeaderSubBatch"></strong></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Pezzi attualmente in azienda: <strong id="actualPieces"></strong></h5>
                <div class="form-group">
                    <label for="ok_pieces">N° pezzi finiti:</label>
                    <input min="0" value="0" type="number" class="form-control" id="ok_pieces" placeholder="Nome">
                </div>
                <div class="form-group">
                    <label for="lost_pieces">N° pezzi persi:</label>
                    <input min="0" value="0" type="number" class="form-control" id="lost_pieces" placeholder="Nome">
                </div>
                <div class="form-group">
                    <label for="waste_pieces">N° scarti lavorati:</label>
                    <input min="0" value="0" type="number" class="form-control" id="waste_pieces" placeholder="Nome">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <a type="button" class="text-white btn btn-primary" onclick="endOrder()">Conferma</a>
            </div>
        </div>
    </div>
</div>

<div class="loader-cont">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="~/js/dymo.connect.framework.js" type="text/javascript" charset="UTF-8"> </script>

    <script>
    function printQRCode(id, ok, persi, scarti){
      var printers = dymo.label.framework.getPrinters();
      if (printers.length == 0 || !printers[0].isConnected){
        alert("Nessuna stampante trovata.");
        return
      }
      var label = dymo.label.framework.openLabelFile("RemaDDT.dymo")  
      var etichetta = "CLIENTE: " + client  + "\nLOTTO: "+ id + "\nSKU: " + SKU 
      if (parseInt(ok))
          etichetta += "\nPEZZI: " + ok
      if (parseInt(persi))
          etichetta += "\nMANCANTI: " + persi
      if (parseInt(scarti))
          etichetta += "\nSCARTI: " + scarti
      label.setObjectText("TextObject",  etichetta);
      label.print(printers[0].name); 
      location.reload()
    } 
    </script>
    <script>
    function printOldLabel(id, ok, persi, scarti, cliente, product){
      var printers = dymo.label.framework.getPrinters();
      if (printers.length == 0 || !printers[0].isConnected){
        alert("Nessuna stampante trovata.");
        return
      }
      var label = dymo.label.framework.openLabelFile("RemaDDT.dymo")  
      var etichetta = "CLIENTE: " + cliente  + "\nLOTTO: "+ id +  "\nSKU: " + product 
      if (parseInt(ok))
          etichetta += "\nPEZZI: " + ok
      if (parseInt(persi))
          etichetta += "\nMANCANTI: " + persi
      if (parseInt(scarti))
          etichetta += "\nSCARTI: " + scarti
      label.setObjectText("TextObject",  etichetta);
      label.print(printers[0].name); 
      location.reload()
    } 
    </script>
    <script type="text/javascript">
    let subBatchToEndId;
    let operationTimeLineId;
    let client;
    let SKU;
    let piecesBuoni;
    let piecesScarti;
    let piecesPersi;
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function (content) {
    document.getElementById("subBatchId").value = content.slice(4)
    });
    let camera;
    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length == 0) {
          alert('Videocamera non rilevata. Provare ad aggiornare la pagina');
      }
      else{
          camera = cameras[0]
      }
    }).catch(function (e) {
      console.error(e);
    });
    $('#add-subbatch').on('hidden.bs.modal', function () {
    scanner.stop(camera);
    })
    
    function startCamera(){
      scanner.start(camera);
    }
    
    function setSubBatchId(id, pieces, opId, cliente, prodotto){
      subBatchToEndId = id;
      operationTimeLineId = opId;
      client = cliente;
      SKU = prodotto;
      document.getElementById("actualPieces").textContent = pieces
      document.getElementById("HeaderSubBatch").textContent = id
    }
    
    function endOrder() {
      $(".loader-cont").show()
      var data = {
          subBatchId : subBatchToEndId,
          okPieces: document.getElementById("ok_pieces").value,
          lostPieces : document.getElementById("lost_pieces").value,
          wastePieces: document.getElementById("waste_pieces").value,
          operationTimeLineId : operationTimeLineId
      }
    
      $.ajax({
          type: 'POST',
          url: '/Order/EndOrder',
          data: JSON.stringify(data),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          success: function(response) {
              if (response.result) {
                  toastNotifySuccess(response.toastMessage);
                  $('#end-subbatch').modal('hide');
                  printQRCode(subBatchToEndId, document.getElementById("ok_pieces").value, document.getElementById("lost_pieces").value, document.getElementById("waste_pieces").value);
                  $(".loader-cont").hide()
                  location.reload()
                  return
              }
              else{
                toastNotifyError(response.toastMessage);
              }
              $(".loader-cont").hide()
          },
          error: function(response) {
              toastNotifyError("Errore durante l'aggiornamento. Si prega di riprovare.");
              $(".loader-cont").hide()
          }
      })
    }
    </script>
}
