@using RemaSoftware.Domain.Constants
@model RemaSoftware.WebApp.Models.OrderViewModel.SubBatchMonitoringViewModel

@{
    ViewData["Title"] = "Lotti in magazzino";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>
<h4 class="m-0 font-weight-bold text-primary mb-3">Analisi lotto #@Model.SubBatch.SubBatchID</h4>
<div class="row">
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Numero pezzi</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.SubBatch.NumberPieces</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Prezzo unitario</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.SubBatch.Batch.Price_Uni.ToString("0.00")€</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-euro fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Codice prodotto</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.SubBatch.Ddts_In[0].Product.SKU</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-barcode fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Nome prodotto</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.SubBatch.Ddts_In[0].Product.Name</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-info fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Cliente</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.SubBatch.Ddts_In[0].Product.Client.Name</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Stato</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@OrderStatusConstants.OrderStatuses[@Model.SubBatch.Status].StatusDescription</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hourglass-start fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">DDT associate al lotto</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table-ddts">
                <thead>
                <tr>
                    <th>DDT</th>
                    <th>N° Pezzi</th>
                    <th>Data arrivo</th>
                    <th>Data scadenza</th>
                    <th>Priorità</th>
                    <th>Note</th>
                    <th>Descrizione</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ddt in Model.SubBatch.Ddts_In)
                {
                    <tr style="cursor: pointer;">
                        <td>@ddt.Code</td>
                        <td>@ddt.Number_Piece</td>
                        <td>@ddt.DataIn.ToString("dd/MM/yy")</td>
                        <td>@ddt.DataOut.ToString("dd/MM/yy")</td>
                        <td>@OrderPriorityConstant.OrderPriority[@ddt.Priority]</td>
                        <td>@ddt.Note</td>
                        <td>@ddt.Description</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6 col-12 card shadow mb-4" id="order-summ-content">
    <div class="d-sm-flex align-items-center justify-content-between card-header py-3 mb-1">
        <h3 class="m-0 font-weight-bold text-primary">Stato di avanzamento produzione</h3>
    </div>
    @foreach (var item in Model.SubBatch.Batch.BatchOperations)
    {
        <div class="card shadow mb-1">
            <!-- Card Header - Accordion -->
            <a href="#collapse-@item.OperationID" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-@item.OperationID">
                @{
                    var operationList = item.OperationTimelines.Where(s => s.BatchOperationID == item.BatchOperationID).ToList();
                    var status = "";
                    var css = "";
                    if (operationList.Count == 0)
                    {
                        status = "Da effettuare";
                        css = " badge-danger";
                    }
                    else if (operationList.All(s => s.Status == "C"))
                    {
                        status = "Conclusa";
                        css = " badge-success";
                    }
                    else
                    {
                        status = "In corso";
                        css = " badge-warning";
                    }
                }
                <h6 class="m-0 font-weight-bold text-primary">@(item.Ordering + 1)) - @item.Operations.Name.ToUpper() - <small class="badge @css"><i class="fas fa-clock"></i> @status</small></h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapse-@item.OperationID" style="">
                <div class="card-body">
                    @{
                        if (operationList.Count == 0)
                        {
                            <span><strong>Operazione non iniziata</strong></span>
                        }
                        else
                        {
                                
                            foreach (var op in operationList)
                            {
                                var end = op.EndDate == op.StartDate ? "In corso" : op.EndDate.ToString("dd/MM/yy HH:mm");
                                var tot = op.EndDate == op.StartDate ? (int)(DateTime.Now - op.StartDate).TotalMinutes : (int)(op.EndDate - op.StartDate).TotalMinutes;
                                <div><span><strong>Macchinario NR°:</strong> @op.MachineId | <strong>Inizio:</strong> @op.StartDate.ToString("dd/MM/yy HH:mm") | <strong>Fine:</strong> @end</span> | <span><strong>Tempo:</strong> @tot min</span></div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script>

     $(document).ready( function () {
            table = $('#table-ddts').DataTable({
                "language": {
                    "lengthMenu": "Mostra _MENU_ risultati per pagina",
                    "zeroRecords": "Nessun risultato trovato",
                    "info": "Pagina _PAGE_ di _PAGES_",
                    "infoEmpty": "Nessun risultato disponibile",
                    "infoFiltered": "(filtrato da _MAX_ risultati totali)",
                    "search": "Ricerca:",
                    "paginate": {
                        "first": "Inizio",
                        "previous": "Precedente",
                        "next": "Successivo",
                        "last": "Fine"
                    }                
                },
                "product": [[0, 'asc']],
                "columnDefs": [
                    { "searchable": true, "orderable": true, "targets": 0 },
                    { "searchable": false, "orderable": false, "targets": 1 },
                    { "searchable": false, "orderable": true, "targets": 2 },
                    { "searchable": false, "orderable": true, "targets": 3 },
                    { "searchable": true, "orderable": false, "targets": 4 },
                    { "searchable": false, "orderable": false, "targets": 5 },
                    { "searchable": false, "orderable": false, "targets": 6 },
                  ]
            });
    
            
            
        });
    
    </script>
}