@model RemaSoftware.WebApp.Models.EmployeeViewModel.EmployeeViewModel

@{
    ViewData["Title"] = "Dipendente";
}

<link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<h4 class="m-0 font-weight-bold text-primary mb-3">Informazioni @Model.Employee.Name @Model.Employee.Surname</h4>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Informazioni generali</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Employee.Name @Model.Employee.Surname</div>
                        <small>@(Model.Employee.BirthDate.HasValue ? "Data di nascita: " + Model.Employee.BirthDate.Value.ToString("dd/MM/yyyy") : "")</small>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Matricola</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Employee.Number</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Mail</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@(Model.Employee.Mail != null ? Model.Employee.Mail : "-")</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-info fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sesso</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Employee.Gender</div>
                        <small>@(Model.Employee.TaxID != null ? "Codice fiscale: " + Model.Employee.TaxID : "")</small>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tipo di rapporto</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Employee.TypeRelationship</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tipo di posizione</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Employee.TypePosition</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-info fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Luogo di nascita:</div>
                        <div class="h4 mb-0 font-weight-bold text-gray-800">
                            @(Model.Employee.BirthPlace != null ? Model.Employee.BirthPlace : "-")
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-barcode fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Mansione</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@(Model.Employee.Task != null ? Model.Employee.Task : "-")</div>
                        <small>
                            @(Model.Employee.Level != null ? "Livello: " + Model.Employee.Level : "")
                        </small>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hashtag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Numero ore di lavoro</div>
                        <div class="h4 mb-0 font-weight-bold text-gray-800"> @Model.Employee.NumberHour</div>
                        <small>
                            @((Model.Employee.StartRelationship.HasValue && Model.Employee.EndRelationship.HasValue)
                            ? $"Data inizio-fine rapporto: {Model.Employee.StartRelationship.Value.ToString("dd/MM/yyyy")} - {Model.Employee.EndRelationship.Value.ToString("dd/MM/yyyy")}"
                            : "")
                        </small>                    
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-info fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Straordinari</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @if (@Model.Employee.Extraordinary)
                            {
                                <p>Permessi</p>
                            }
                            else
                            {
                                <p>Negati</p>
                            }
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-info fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


