@using RemaSoftware.Domain.Models
@using RemaSoftware.Domain.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Identity.UserManager<MyUser> _userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RemaSoftware | @ViewData["Title"] </title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div class="loader-cont">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-text mx-3 text-white">RE.MA. Software</div>
        </a>

        @if (User.IsInRole(Roles.Admin))
        {
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <a asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
        }
        @if (User.IsInRole(Roles.Cliente))
        {
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <a asp-controller="Guest" asp-action="Index" class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
        }
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Dipendente) || User.IsInRole(Roles.Cliente))
        {
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Inventario
            </div>
        }
        @if (User.IsInRole(Roles.Cliente))
        {
            
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "OrdersActive" ? "active" : "")">
                <a class="nav-link" asp-action="OrdersActive" asp-controller="Guest">
                    <i class="fas fa-file-alt"></i>
                    <span>Ordini attivi</span>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "OrdersEnded" ? "active" : "")">
                <a class="nav-link" asp-action="OrdersEnded" asp-controller="Guest">
                    <i class="fas fa-file-archive"></i>
                    <span>Ordini conclusi</span>
                </a>
            </li>
        }
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Dipendente))
        {
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Product" ? "active" : "")">
                <a class="nav-link" asp-action="ProductList" asp-controller="Product">
                    <i class="fas fa-tag"></i>
                    <span>Prodotti</span>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "OrderSummary" ? "active" : "")">
                <a class="nav-link" asp-action="OrderSummary" asp-controller="Order">
                    <i class="fas fa-file-alt"></i>
                    <span>Ordini attivi</span>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "OrderSummaryEnded" ? "active" : "")">
                <a class="nav-link" asp-action="OrderSummaryEnded" asp-controller="Order">
                    <i class="fas fa-file-archive"></i>
                    <span>Ordini conclusi</span>
                </a>
            </li>
        }
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Dipendente) || User.IsInRole(Roles.COQ) || User.IsInRole((Roles.Cliente)))
        {
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Produzione
            </div>
        }
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Dipendente))
        {
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "BatchInStock" ? "active" : "")">
                    <a class="nav-link" asp-action="BatchInStock" asp-controller="Order">
                        <i class="fas fa-boxes"></i>
                        <span>Lotti in magazzino</span>
                    </a>
                </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "BatchInProduction" ? "active" : "")">
                <a class="nav-link" asp-action="BatchInProduction" asp-controller="Order">
                    <i class="fas fa-pallet"></i>
                    <span>Lotti in produzione</span>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "BatchToSupplier" ? "active" : "")">
                <a class="nav-link" asp-action="BatchToSupplier" asp-controller="Order">
                    <i class="fas fa-pallet"></i>
                    <span>Lotti da fornitori</span>
                </a>
            </li>
        }
        @if (User.IsInRole(Roles.Cliente)) 
        {
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "BatchInStock" ? "active" : "")">
                <a class="nav-link" asp-action="BatchInStock" asp-controller="Guest">
                    <i class="fas fa-boxes"></i>
                    <span>Lotti in magazzino</span>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "BatchInProduction" ? "active" : "")">
                <a class="nav-link" asp-action="BatchInProduction" asp-controller="Guest">
                    <i class="fas fa-pallet"></i>
                    <span>Lotti in produzione</span>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "BatchInDelivery" ? "active" : "")">
                <a class="nav-link" asp-action="BatchInDelivery" asp-controller="Guest">
                    <i class="fas fa-truck-loading"></i>
                    <span>Lotti in consegna</span>
                </a>
            </li>
        }
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Dipendente) || User.IsInRole(Roles.COQ))
        {
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "QualityControl" ? "active" : "")">
                <a class="nav-link" asp-action="QualityControl" asp-controller="Order">
                    <i class="fas fa-search"></i>
                    <span>Controllo qualità</span>
                </a>
            </li>
        }
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Dipendente))
        {
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "BatchInDelivery" ? "active" : "")">
                <a class="nav-link" asp-action="BatchInDelivery" asp-controller="Order">
                    <i class="fas fa-truck-loading"></i>
                    <span>Lotti in consegna</span>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "DDTEmitted" ? "active" : "")">
                <a class="nav-link" asp-action="DDTEmitted" asp-controller="Order">
                    <i class="fas fa-file"></i>
                    <span>DDT emesse</span>
                </a>
            </li>
            
            @if (User.IsInRole("Admin"))
            {
                <hr class="sidebar-divider">

                <div class="sidebar-heading mb-3">
                    <a class="option-collapse" id="gestioneBtn" data-toggle="collapse" data-target="#collapseGestione" aria-expanded="false" aria-controls="collapseGestione">
                        <span class="mx-1">Gestione</span> <i class="fas fa-chevron-down option-arrow" id="gestioneArrow" style="transition: transform 0.3s;"></i>
                    </a>
                </div>

                <div class="collapse" id="collapseGestione">
                    <ul class="nav flex-column">
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Attendance" ? "active" : "")">
                            <a class="nav-link" asp-action="Attendance" asp-controller="Attendance">
                                <i class="fas fa-fw fa-id-badge"></i>
                                <span>Presenze</span>
                            </a>
                        </li>
                        @*<li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "OrderControl" ? "active" : "")">
                            <a class="nav-link" asp-action="OrderControl" asp-controller="Order">
                                <i class="fas fa-fw fa-table"></i>
                                <span>Controllo produzione</span>
                            </a>
                        </li>*@
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Accounting" ? "active" : "")">
                            <a class="nav-link" asp-action="Accounting" asp-controller="Accounting">
                                <i class="fas fa-fw fa-calculator"></i>
                                <span>Contabilità</span>
                            </a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "DDTVariation" ? "active" : "")">
                            <a class="nav-link" asp-action="DDTVariation" asp-controller="Accounting">
                                <i class="fas fa-fw fa-handshake-o"></i>
                                <span>Variazioni DDT</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }

            @if (User.IsInRole("Admin"))
            {
                <hr class="sidebar-divider">

                <div class="sidebar-heading mb-3">
                    <a class="option-collapse" id="analisiBtn" data-toggle="collapse" data-target="#collapseAnalisi" aria-expanded="false" aria-controls="collapseAnalisi">
                        <span class="mx-1">Analisi</span> <i class="fas fa-chevron-down option-arrow" id="analisiArrow" style="transition: transform 0.3s;"></i>
                    </a>
                </div>

                <div class="collapse" id="collapseAnalisi">
                    <ul class="nav flex-column">
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Preliminar" ? "active" : "")">
                            <a class="nav-link" asp-action="Preliminar" asp-controller="Accounting">
                                <i class="fas fa-fw fa-area-chart"></i>
                                <span>Analisi lotti</span>
                            </a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Attensance" ? "active" : "")">
                            <a class="nav-link" asp-action="AttendanceAnalysis" asp-controller="Attendance">
                                <i class="fas fa-fw fa-users"></i>
                                <span>Analisi presenze</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }
            
            <hr class="sidebar-divider">
            
            <div class="sidebar-heading mb-3">
                <a class="option-collapse" id="registriBtn" data-toggle="collapse" data-target="#collapseRegistri" aria-expanded="false" aria-controls="collapseRegistri">
                    <span class="mx-1">Registri</span>  <i class="fas fa-chevron-down option-arrow" id="registriArrow" style="transition: transform 0.3s;"></i>
                </a>
            </div>
            
            <div class="collapse" id="collapseRegistri">
                <ul class="nav flex-column">
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Employee" ? "active" : "")">
                            <a class="nav-link" asp-action="EmployeeList" asp-controller="Employee">
                                <i class="fas fa-fw fa-address-card"></i>
                                <span>Impiegati</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Client" ? "active" : "")">
                        <a class="nav-link" asp-action="ClientList" asp-controller="Client">
                            <i class="fas fa-fw fa-address-card"></i>
                            <span>Clienti</span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Supplier" ? "active" : "")">
                        <a class="nav-link" asp-action="List" asp-controller="Supplier">
                            <i class="fas fa-fw fa-address-card"></i>
                            <span>Fornitori</span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Operation" ? "active" : "")">
                        <a class="nav-link" asp-action="OperationList" asp-controller="Operation">
                            <i class="fas fa-tools"></i>
                            <span>Operazioni</span>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Price" ? "active" : "")">
                        <a class="nav-link" asp-action="PriceList" asp-controller="Price">
                            <i class="fas fa-tag"></i>
                            <span>Prezzi</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
    
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Dipendente) || User.IsInRole(Roles.MagazzinoMaterie))
        {
            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <div class="sidebar-heading mb-3">
                <a class="option-collapse" id="giacenzeBtn" data-toggle="collapse" data-target="#collapseGiacenze" aria-expanded="false" aria-controls="collapseGiacenze">
                    <span class="mx-1">Giacenze</span>  <i class="fas fa-chevron-down option-arrow" id="giacenzeArrow" style="transition: transform 0.3s;"></i>
                </a>
            </div>
            
            <div class="collapse" id="collapseGiacenze">
                <ul class="nav flex-column">
                    
                    <!-- Nav Item - Tables -->
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Stock" ? "active" : "")">
                        <a class="nav-link" asp-action="Stock" asp-controller="Stock" asp-route-newProduct="false">
                            <i class="fas fa-fw fa-warehouse"></i>
                            <span>Magazzino</span>
                        </a>
                    </li>

                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "RetireProduct" ? "active" : "")">
                        <a class="nav-link" asp-action="RetireProduct" asp-controller="Stock">
                            <i class="fas fa-fw fa-pallet"></i>
                            <span>Ritiro Prodotti</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        
        @if (User.IsInRole("Impiegato"))
        {
            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Attendance" ? "active" : "")">
                <a class="nav-link" asp-action="AttendanceEmployee" asp-controller="Attendance">
                    <i class="fas fa-fw fa-calculator"></i>
                    <span>Presenze</span>
                </a>
            </li>
        }
    
        @if (User.IsInRole("Admin"))
        {
            <hr class="sidebar-divider">
           
            <div class="sidebar-heading mb-3">
                <a class="option-collapse" id="machineBtn" data-toggle="collapse" data-target="#collapseMachine" aria-expanded="false" aria-controls="collapseMachine">
                    <span class="mx-1">Macchine</span>  <i class="fas fa-chevron-down option-arrow" id="machineArrow" style="transition: transform 0.3s;"></i>
                </a>
            </div>

            <div class="collapse" id="collapseMachine">
                <ul class="nav flex-column">
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "AutomaticMachine" ? "active" : "")">
                        <a class="nav-link" asp-action="AutomaticMachine" asp-controller="Machine">
                            <i class="fas fa-fw fa-industry"></i>
                            <span>Macchina 4.0</span>
                        </a>
                    </li>
                </ul>
            </div>
        }

    <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.DipendenteControl))
                    {
                        <div style="margin-top: 3.6%;" class="mobile-c3 nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "ProductionAnalysisLive" ? "active" : "")">
                            <a class="btn btn-primary text-white" asp-action="ProductionAnalysisLive" asp-controller="Accounting" type="button">
                                <div class="mobile-c1"> <i class="fas fa-fw fa-industry"></i>Produzione Live</div>
                                <div class="mobile-c2" style="display: none;"> <i class="fas fa-fw fa-industry"></i>Live</div>
                            </a>
                        </div>
                    }

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i class="fas fa-user-circle" style="font-size: 28px; margin-right: 8px;"></i>
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name

                                @if (User.IsInRole(Roles.Admin))
                                {
                                    <text>(Admin)</text>
                                }
                                else if (User.IsInRole(Roles.Dipendente))
                                {
                                    <text>(User)</text>
                                }
                            </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    <div id="wrapper">
                        <div id="content-wrapper" class="d-flex flex-column">
                            @RenderBody()
                        </div>
                    </div>
                </main>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sicuro di uscire?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Seleziona "Logout" di seguito se sei pronto per terminare la sessione corrente.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
                <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2024 Re.Ma. S.r.l. - Powered by <a href="https://www.enigma-tech.it">Enigma Tech</a> </span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<style>
  .sidebar-heading button:focus {
      outline: none;
      box-shadow: none;
  }
  
  .option-collapse{
    font-size: 0.8rem;
    color: #E5E5E5 !important; 
    cursor: pointer;
  }

  @@media only screen and (max-width: 600px) {
      .mobile-c1 {
          display: none;
      }
      .mobile-c2{
          display:  block !important;
      }
      .mobile-c3{
          margin-top:  11% !important;
      }
      .option-collapse{
          font-size: 0.6rem;
      }
  }
</style>

<script>
    var analisiBtn = document.getElementById("analisiBtn");
    var analisiArrow = document.getElementById("analisiArrow");

    analisiBtn.addEventListener("click", function() {
        if (analisiArrow.classList.contains("fa-chevron-right")) {
            analisiArrow.classList.remove("fa-chevron-right");
            analisiArrow.classList.add("fa-chevron-down");
        } else {
            analisiArrow.classList.remove("fa-chevron-down");
            analisiArrow.classList.add("fa-chevron-right");
        }
    });

    var machineBtn = document.getElementById("machineBtn");
    var machineArrow = document.getElementById("machineArrow");

    machineBtn.addEventListener("click", function() {
        if (machineArrow.classList.contains("fa-chevron-right")) {
            machineArrow.classList.remove("fa-chevron-right");
            machineArrow.classList.add("fa-chevron-down");
        } else {
            machineArrow.classList.remove("fa-chevron-down");
            machineArrow.classList.add("fa-chevron-right");
        }
    });

    var giacenzeBtn = document.getElementById("giacenzeBtn");
    var giacenzeArrow = document.getElementById("giacenzeArrow");

    giacenzeBtn.addEventListener("click", function() {
        if (giacenzeArrow.classList.contains("fa-chevron-right")) {
            giacenzeArrow.classList.remove("fa-chevron-right");
            giacenzeArrow.classList.add("fa-chevron-down");
        } else {
            giacenzeArrow.classList.remove("fa-chevron-down");
            giacenzeArrow.classList.add("fa-chevron-right");
        }
    });

    var registriBtn = document.getElementById("registriBtn");
    var registriArrow = document.getElementById("registriArrow");

    registriBtn.addEventListener("click", function() {
        if (registriArrow.classList.contains("fa-chevron-right")) {
            registriArrow.classList.remove("fa-chevron-right");
            registriArrow.classList.add("fa-chevron-down");
        } else {
            registriArrow.classList.remove("fa-chevron-down");
            registriArrow.classList.add("fa-chevron-right");
        }
    });

    var gestioneBtn = document.getElementById("gestioneBtn");
    var gestioneArrow = document.getElementById("gestioneArrow");

    gestioneBtn.addEventListener("click", function() {
        if (gestioneArrow.classList.contains("fa-chevron-right")) {
            gestioneArrow.classList.remove("fa-chevron-right");
            gestioneArrow.classList.add("fa-chevron-down");
        } else {
            gestioneArrow.classList.remove("fa-chevron-down");
            gestioneArrow.classList.add("fa-chevron-right");
        }
    });
</script>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="~/js/sb-admin-2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.23/signalr.min.js" integrity="sha512-Sd/CQuXI5hhbfpiXkzunAg1hF3AvRrEA5ZerjYnDPqrA548WrF+ll2WHX9JZxPVsdrw5HlWonHVfCVRHIvD0KQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
@await Component.InvokeAsync("Notyf")
@RenderSection("Scripts", required: false)
</body>
</html>